<!--
  Generated template for the HistorialproPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title>Mis Preguntas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <br>
    <div class="profile_status">
      <ion-segment [(ngModel)]="tipopregunta">
        <ion-segment-button value="exp">
          Express
        </ion-segment-button>
        <ion-segment-button value="dir"> 
          Directas
        </ion-segment-button>
        <ion-segment-button value="cot">
          Cotizaciones
        </ion-segment-button>
        
      </ion-segment>

    </div>
    <div >
      <ion-list padding no-margin [hidden]="tipopregunta !== 'exp'" class="exp">
        <button ion-item *ngFor="let datos of preguntas " (tap)="gotoPregunta(datos)">
          <div class="estado" >
            <div *ngIf="datos.p_estado==1"> 
               <button ion-button icon-left outline color=facebook class="btn_historial">
                Respondiendo
              </button>
            </div>
           <div *ngIf="datos.p_estado==0"> 
               <button ion-button icon-left  color=dark class="btn_historial">
                Sin Contestar
              </button>
            </div>
            <div *ngIf="datos.p_estado==5 || datos.p_estado==7"> 
               <button ion-button icon-left color=aprobado  class="btn_historial">
                Contestada
              </button>
            </div>
            <div *ngIf="datos.p_estado==4"> 
               <button ion-button icon-left  color=rojolegal class="btn_historial">
                Por responder
              </button>
            </div>
            <div *ngIf="datos.p_estado==6"> 
               <button ion-button icon-left  color=rojolegal class="btn_historial">
                Esperando Replica
              </button>
            </div>
            
          </div>
          <h2>{{datos.p_usuarioapp}}</h2>
          <h3> {{datos.p_titulo}}</h3>
          <p>{{datos.p_fecha  | fechas: "long"}} </p>
          <!--<p>{{datos.p_fecha | date:'EEEE dd/MM/yy HH:mm':'':'es-BO'}} </p>-->
          
        </button>
        
        <div *ngIf="!preguntas" class="errorNoData">
          <p>Aún no tienes ninguna consulta</p>
          <img src="assets/img/img_error.png" style="width: 20rem;">
        </div>
      </ion-list>

      <ion-list padding no-margin [hidden]="tipopregunta !== 'dir'" class="dir">
      
        <button ion-item *ngFor="let datos2 of preguntasDirectas" (tap)="gotoPreguntaDirecta(datos2)">
          <div class="estado" >
            <div *ngIf="datos2.p_estado==5"> 
               <button ion-button icon-left color=aprobado  class="btn_historial">
                Contestada
              </button>
            </div>
           <div *ngIf="datos2.p_estado==6"> 
               <button ion-button icon-left  color=rojolegal class="btn_historial">
                Por responderse
              </button>
            </div>
            
          </div>
          <h2>{{datos2.u_nombre}} {{datos2.u_apellido}}</h2>
          <h3> {{datos2.p_titulo}}</h3>
          <p>{{datos2.p_datetime  | fechas: "long"}} </p>
          <!--<p>{{datos2.p_datetime | date:'EEEE dd/MM/yy HH:mm':'':'es-BO'}} </p>-->
          
        </button>

        <div *ngIf="!preguntasDirectas" class="errorNoData">
          <p>Aún no tienes ninguna consulta</p>
          <img src="assets/img/img_error.png" style="width: 20rem;">
        </div>

      </ion-list>

      <ion-list padding no-margin [hidden]="tipopregunta !== 'cot'" class="cot">
        
        <button ion-item *ngFor="let datos of preguntasCotizacion" >
          <div class="estado" >
            <div *ngIf="datos.c_estado==1"> 
               <button ion-button icon-left color=aprobado  class="btn_historial">
                Contestada 
              </button>
            </div>
           <div *ngIf="datos.c_estado==0"> 
               <button ion-button icon-left  color=rojolegal class="btn_historial">
                Pendiente
              </button>
            </div>
           
            
          </div>
          <h2>{{datos.u_nombre}} {{datos.u_apellido}}</h2>
          <h3> {{datos.c_titulo}}</h3>
          <p>{{datos.c_datetime  | fechas: "long"}} </p>
          <!--<p>{{datos.c_datetime | date:'EEEE dd/MM/yy HH:mm':'':'es-BO'}} </p>-->
          
        </button>

        <div *ngIf="!preguntasCotizacion" class="errorNoData">
          <p>Aún no tienes ninguna consulta</p>
          <img src="assets/img/img_error.png" style="width: 20rem;">
        </div>
      </ion-list>
    </div>


   
</ion-content>
