
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title>{{titulo}} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull para actualizar"
        refreshingSpinner="circles"
        refreshingText="Actualizando...">
      </ion-refresher-content>
    </ion-refresher>

<div *ngIf="tipo==1 ">
  <ion-card *ngFor="let datos of preguntas">

    <button ion-item no-padding >
      <ion-avatar item-start>
        <div *ngIf="datos.p_privacidad == 1" >
          <img src="assets/img/avatar.png"/>
        </div>
        <div *ngIf="datos.p_privacidad == 0" >
          <div *ngIf="tipo==1">
            <img *ngIf="datos.u_foto!='' " src="{{datos.u_foto}}"/>
            <img *ngIf="datos.u_foto=='' " src="assets/img/avatar.png"/>
          </div>
          <div *ngIf="tipo==2">
            <img *ngIf="datos.u_imagen!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.u_imagen}}"/>
            <img *ngIf="datos.u_imagen=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
          </div>
        </div>
      </ion-avatar>
      <div class="post_user_details">
        <div *ngIf="datos.p_privacidad == 1" >
          <h2>Anónimo</h2>
        </div>
        <div *ngIf="datos.p_privacidad == 0" >
          <h2>{{datos.p_usuarioapp}}</h2>
        </div>
        
        <p>{{datos.p_fecha | fechas: "long"}}</p>
        <!--<p>{{datos.p_fecha | date:'EEEE dd/MM/yy HH:mm':'':'es-BO'}}</p>-->
      </div>
     
    </button>

    <ion-card-content>
      <div >
        <p  > 
          <!--<strong>{{datos.p_titulo}} </strong> {{datos.p_contenido  | truncate:180}} -->
          <strong>{{datos.p_titulo}} </strong> {{datos.p_contenido  }} 
          
         <!--<button  ion-button round color=danger small outline>Ver más</button>-->
       </p>
      </div>

      </ion-card-content>

      <ion-row>
        <div class="barbuttonlist">
          <ion-col col-12>
            <button ion-button round color=danger small (tap)="gotoResponder(datos)">
            Responder
            </button>
          </ion-col>
          <!--<ion-col col-3>
            <button ion-button round color=primary small (tap)="gotoCompleja(datos)">
              Compleja
            </button>
          </ion-col>-->
        </div>



      </ion-row>

    </ion-card>

</div>

<div *ngIf="tipo==2 ">
  <ion-card *ngFor="let datos of preguntas">

    <button ion-item no-padding >
      <ion-avatar item-start>
        <div *ngIf="datos.p_privacidad == 1" >
          <img src="assets/img/avatar.png"/>
        </div>
        <div *ngIf="datos.p_privacidad == 0" >
            <img *ngIf="datos.u_imagen!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.u_imagen}}"/>
            <img *ngIf="datos.u_imagen=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
        </div>
      </ion-avatar>
      <div class="post_user_details">
        <div *ngIf="datos.p_privacidad == 1" >
          <h2>Anónimo</h2>
        </div>
        <div *ngIf="datos.p_privacidad == 0" >
          <h2>{{datos.u_nombre}} {{datos.u_apellido}}</h2>
        </div>
         
        <p>{{datos.p_datetime | fechas: "long"}}</p>
        <!--<p>{{datos.p_datetime | date:'EEEE dd/MM/yy HH:mm':'':'es-BO'}}</p>-->
      </div>
     
    </button>

    <ion-card-content>
        <p> <strong>{{datos.p_titulo}} </strong> {{datos.p_contenido}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button round full color=primary  (tap)="gotoRechazar(datos)">
                Rechazar
        </button>
      </ion-col>
      <ion-col>
        <button ion-button round full color=danger  (tap)="gotoResponderDirecta(datos)">
                Responder
        </button>
      </ion-col>
    </ion-row>

    </ion-card>

</div>

<div *ngIf="tipo==3 ">
   <ion-card *ngFor="let datos of preguntas">

      <button ion-item no-padding >
        <ion-avatar item-start>
          <div *ngIf="datos.privacidad == 1" >
            <img src="assets/img/avatar.png"/>
          </div>
          <div *ngIf="datos.privacidad == 0" >
            
              <img *ngIf="datos.u_imagen!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.u_imagen}}"/>
              <img *ngIf="datos.u_imagen=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
            
          </div>
          
        </ion-avatar>
        <div class="post_user_details">
          <div *ngIf="datos.privacidad == 1" >
            <h2>Anónimo</h2>
          </div>
          <div *ngIf="datos.privacidad == 0" >
            <h2>{{datos.u_nombre}} {{datos.u_apellido}}</h2>
          </div>
            
          
          
          <p>{{datos.c_datetime | fechas: "long"}}</p>
          <!--<p>{{datos.c_datetime | date:'EEEE dd/MM/yy HH:mm':'':'es-BO'}}</p>-->
        </div>
      
      </button>

      <ion-card-content>
          <p> <strong>{{datos.c_titulo}} </strong> {{datos.p_contenido}}</p>
      </ion-card-content>
        
      <ion-row>
      <ion-col>
        <button ion-button round full color=primary (tap)="rechazarCotizacion(datos)" >
                Rechazar
        </button>
      </ion-col>
      <ion-col>
        <button ion-button full round color=danger   (tap)="gotoResponderCotizacion(datos)">
                Responder
        </button>
        </ion-col>
      </ion-row>
      

    </ion-card>


</div>
    <div *ngIf="!preguntas" class="errorNoData">
       <p>No hay preguntas disponibles en este momento</p>
       <img src="assets/img/img_error.png" style="width: 20rem;">
    </div>
</ion-content>
