page-listservice {
    .card-md{
        padding: 5px;
    }

    // .card-header-md + .card-content-md, .card-md .item + .card-content-md {
    //     padding-top: 0;
    //     height: 82px;
    // }

    // .barbuttonlist{
    //     background-color: white;
    //     width: 100%;
    //     padding: 15px;
    // }


    .vermenos {
        background-color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .vermas {
        background-color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    
}
