<ion-content padding>
  <div class="center_screen">

    <img class="logo" src="assets/img/logo_letras.png" alt="Logo" style="width: 20rem;">
    
    <form id="form" class="list" >

      <div class="input_area">
        <ion-icon name="md-person"></ion-icon>
        <input type="mail" placeholder="Correo Electrónico" [(ngModel)]="data.correo" name="correo">
      </div>
      
      <div class="input_area">
        <ion-icon name="md-lock"></ion-icon>
        <input type="password" placeholder="Contraseña" [(ngModel)]="data.password" name="password">
      </div>
      <p style="color:darkgray; text-align:right;margin-right: 15px;">
        Recordar datos de sesión
        <ion-checkbox color="dark" checked="false" [(ngModel)]="data.sesion" name="sesion"></ion-checkbox> 
        
      </p>
      <button (tap)="gototimeline()" ion-button full [ngClass]="(tipo=='1')?'logUser':'logPro'" color="azullegal" round >Ingresar</button>
    </form>

    <div class="forgotpassword_section">
      <button ion-button icon-left clear small color=extralight (tap)="gotoforgotpassword()">
        <ion-icon name="md-key"></ion-icon>
        Olvidé mi clave
      </button>
      <button ion-button icon-left clear small color=extralight (tap)="gotosignup()">
        <ion-icon name="md-person-add"></ion-icon>
        Registrarse
      </button>
    </div>
    
    <div *ngIf="tipo==1" >
      <button ion-button full color="facebook" round (tap)="go_fb()"><ion-icon name="logo-facebook"></ion-icon> &nbsp; Iniciar con Facebook</button>
    </div>

    <div style="text-align: center; width:100%;padding:2rem;" >
      <button ion-button small color="azullegal" round (tap)="go_back()"><ion-icon name="arrow-back"></ion-icon> &nbsp;Atrás</button>
    </div>
  </div>
  <!--<ion-footer>
      <button ion-button icon-left color=facebook>
        <ion-icon name="logo-facebook"></ion-icon>
        facebook
      </button>

      <button ion-button icon-left color=gmail>
        <ion-icon name="logo-googleplus"></ion-icon>
        G-mail
      </button>
  </ion-footer>-->
</ion-content>
