

<ion-header>

  <ion-navbar color=primary>
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Favoritos</ion-title>
  </ion-navbar>

</ion-header> 


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let pro of abogados" (tap)="gotoProfesional(pro)">
      <ion-avatar item-left>
        <img *ngIf="pro.p_foto!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{pro.p_foto}}"/>
        <img *ngIf="pro.p_foto=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
                
      </ion-avatar>
      <h2>{{pro.p_nombre}} {{pro.p_apellido}}</h2>
      <p><ion-icon name="ios-star" ></ion-icon> {{pro.calificacion}} </p>
    </button>

    <!--para recargar mas abogados -->
    <ion-infinite-scroll (ionInfinite)="cargarMas($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando profesionales...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
        <div *ngIf="!abogados" class="errorNoData">
          <p>No tienes abogados favoritos</p>
          <img src="assets/img/img_error.png" style="width: 20rem;">
        </div>
    
  </ion-list>
</ion-content>
