<ion-header>
  <ion-toolbar color=primary>
    <ion-title>
      Detalle de transacción
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text  showWhen="ios">Atrás</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div *ngIf="tipo == 'in'" >
    <ion-list>
      <ion-item>
        <!--<ion-avatar item-left>
              <img src="assets/img/avatar.jpg">
        </ion-avatar>-->
        <h2>{{datos.r_detalleTransac}}</h2>
      </ion-item>
    </ion-list>
    <ion-list class="account_details">
      <ion-item>
        <p item-left>No transacción</p>
        <p>{{datos.id_recarga}}</p>
      </ion-item>
      <ion-item>
        <p item-left>Estado</p>
        <p>{{datos.r_estado}}</p>
      </ion-item>
      <ion-item>
        <p item-left>Fecha / Hora</p>
        <p>{{datos.r_datetime | fechas: "short"}}</p>
      </ion-item>
      <!--<ion-item>
        <p item-left>Hora</p>
        <p>3:40p.m</p>
      </ion-item>-->
    </ion-list>

    <ion-list>
      <ion-item>
        <p item-left>Monto preguntas Express</p>
        <p class="blance">{{datos.r_valortransacexpress}} Bs</p>
      </ion-item>
      <ion-item>
        <p item-left>Monto preguntas Directas</p>
        <p class="blance">{{datos.r_valortransacdirecta}} Bs</p>
      </ion-item>
    </ion-list>
  </div>

    <div *ngIf="tipo == 'out'" >
    <ion-list>
      <ion-item>
          <!--<ion-avatar item-left>
                <img src="assets/img/avatar.jpg">
          </ion-avatar>-->
        <h2>{{datos.titulo_pregunta}}</h2>
      </ion-item>
    </ion-list>
    <ion-list class="account_details">
      <ion-item>
        <p item-left>No transacción</p>
        <p>{{datos.id_deb}}</p>
      </ion-item>
      <ion-item>
        <p item-left>Estado</p>
        <p>Completado</p>
      </ion-item>
      <ion-item>
        <p item-left>Fecha / Hora de débito</p>
        <p>{{datos.deb_fecha | fechas: "short" }}</p>
      </ion-item>
      <ion-item>
        <p item-left>Fecha / Hora de pregunta</p>
        <p>{{datos.fecha_pregunta  | fechas: "short"}}</p>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <p item-left>Monto </p>
        <p class="blance">{{datos.deb_cantidad}} Bs</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
