<!--
  Generated template for the PasantePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title>Pasantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>        

        <ion-card *ngFor="let datos of pasantes">
          <ion-item>
            <ion-avatar item-start>
              <img src="{{datos.log_firma}}">
            </ion-avatar>
            <h2>{{datos.nombre_firma}}</h2>
            <!--<p>{{datos.nombre_firma}}</p>-->
          </ion-item>

         
          <ion-card-content>
            <ion-card-title>
              {{datos.titulo_pasantia}}
            </ion-card-title>
            <p>
              {{datos.detale_pasantia}}
            </p>
          </ion-card-content>
        </ion-card>

        <div *ngIf="!pasantes" class="errorNoData">
          <p>Por el momento no tenemos disponibles.</p>
          <img src="assets/img/img_error.png" style="width: 20rem;">
        </div>
</ion-content>
