<ion-header>
  <ion-navbar color="primary">
    <ion-title>Perfil </ion-title>
    <ion-buttons right>
        <button ion-button icon-only (tap)="favorito(datos.idprofesional)">
          <ion-icon name="heart" [ngClass]="(datos.favorito==1)?'favorito':'nofavorito'"></ion-icon> Favorito
        </button>
      </ion-buttons>
  </ion-navbar>
    
</ion-header>

<ion-content>
<!--ghost loading -->
  <div *ngIf="!haydatos" style="padding: 25px;" class="fakeItem">
    <div class="card-background-page">   

      <ion-grid>
        <ion-row >
          <ion-col col-3>  </ion-col>
          <ion-col col-6> <img style="border-radius: 50%;"/></ion-col>
          <ion-col col-3> </ion-col>
        </ion-row>
         <ion-row >
          <ion-col col-6>  <h3></h3></ion-col>
          <ion-col col-6> <h3></h3></ion-col>
        </ion-row>
         <ion-row >
          <ion-col col-12>  <h2 ></h2>
      <p></p>
      <p></p>
      
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col col-6> <button style="width:150px"  ion-button color="light" round ></button></ion-col>
          <ion-col col-6><button style="width:150px" ion-button color="light" round ></button></ion-col>
        </ion-row>
        
      </ion-grid>
       
      </div>

  
    <div class="user_details">

      <div class="profile_status">
        <ion-segment>
          <ion-segment-button value="about">
            <ion-icon color=danger name="chatboxes"></ion-icon>
          </ion-segment-button>
          <ion-segment-button >
            <ion-icon color=danger name="school"></ion-icon>
          </ion-segment-button>
          <ion-segment-button >
            <ion-icon color=danger name="ribbon" ></ion-icon>
          </ion-segment-button>
          <ion-segment-button >
            <ion-icon color=danger name="text" ></ion-icon>
          </ion-segment-button>
        </ion-segment>

      </div>

    </div>
  </div>
<!--end ghost loadin-->
  <div *ngIf="haydatos">
    <div class="card-background-page">

      <ion-card>
        
        <!--<img *ngIf="firma.firma_id" src="{{firma.firma_logo}}"/>-->
        <!--<img *ngIf="!firma.firma_id" src="assets/img/cover.png"/>-->
        <img  src="assets/img/cover.png"/>
        
        <!--<ion-buttons right class="update_btn">
          <button ion-button clear icon-only text-capitalize [ngClass]="(datos.favorito==1)?'favorito':'nofavorito'" (tap)="favorito(datos.idprofesional)" >
            <ion-icon name="heart" [ngClass]="(datos.favorito==1)?'favorito':'nofavorito'"></ion-icon> 
          </button>
        </ion-buttons>-->
      </ion-card>
      
      <br>
      <div [ngClass]="(datos.idplan=='0')?'profile_picture_area':'profile_picture_area_premium'">

        <br><br>
        <div class="follow">
          <h3>{{datos.calificacion}} <ion-icon name="star" ></ion-icon></h3>
          <p>  Calificación</p>
        </div>

        <ion-avatar>
          <img *ngIf="datos.p_foto=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
          <img class="rounded-corners-gradient-borders" *ngIf="datos.p_foto!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.p_foto}}"/>
        </ion-avatar>
        <div class="follow">
          <h3>{{datos.n_contestadas}}</h3>
          <p>Respuestas</p>
        </div>
      </div>
    </div>
  
  
    <div class="user_details">
      <h2 class="name">{{datos.p_nombre}} {{datos.p_apellido}}</h2>
      <span class="address">{{datos.p_descripcionpro}} </span>

      <ion-grid>
    
        <ion-list no-margin *ngIf="datos.idplan!=0">

              <ion-item no-lines>
                <ion-icon  item-start color="lightdark">
                  <img src="assets/icon/premium.png"/>
                </ion-icon>
                <!--<p>Dirección</p>-->
                <p>Usuario Premium  <br>
              
                </p>
              </ion-item>

              <!--<ion-item no-lines *ngIf="firma.firma_id" >
                <ion-icon name="ios-briefcase-outline" item-start color="lightdark"></ion-icon>
                <p>Firma</p>
                <h2> {{firma.firma_nombre}}<br>
                  
                </h2>
              </ion-item>-->
              
        </ion-list>
        
        <ion-row *ngIf="datos.idplan!=0">
          <ion-col col-6> <button (tap)="gotoConsulta(datos.idprofesional,1)" ion-button color="danger" round outline>Cotización</button></ion-col>
          <ion-col col-6><button (tap)="gotoConsulta(datos.idprofesional,2)" ion-button color="danger" round outline>Consúltame</button></ion-col>
        </ion-row>
            
      </ion-grid>
      <div class="profile_status">
        <ion-segment *ngIf="datos.ultima_pregunta" [(ngModel)]="profile">
          <ion-segment-button value="about">
            <ion-icon color=danger name="chatboxes"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="especialidad">
            <ion-icon color=danger name="school"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="exa">
            <ion-icon color=danger name="ribbon"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="com">
            <ion-icon color=danger name="text" ></ion-icon>
          </ion-segment-button>
        </ion-segment>

      </div>


      <div >
        <div [hidden]="profile !== 'about'">
          <ion-list padding no-margin *ngIf="'about'" class="about">
            
            <h3 class="name">Últimas preguntas contestadas</h3>
            
  
            <ion-item *ngFor="let preg of datos.ultima_pregunta" >
              <br>
              <h3 >{{preg.titulo_p}} 
                <ion-icon name="ios-star"></ion-icon>
                {{preg.calificacion_p}} 
              </h3>
              <p class="fecha">{{preg.fecha_p | fechas: "long"}}</p>
              <!--<p class="fecha">{{preg.fecha_p | date:'EEEE dd/MM/yy ':'':'es-BO'}}</p>-->
              <p>{{preg.contenido_p}}</p>
      
              <button (tap)="gotoConsultaRel(datos.idprofesional,2,preg.titulo_p,preg.contenido_p )" ion-button full icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>Preguntar sobre este tema</div>
              </button>
            </ion-item >
         
          </ion-list>
        </div>
        
        <div [hidden]="profile !== 'especialidad'">       
          <ion-list padding no-margin *ngIf="'especialidad'" >
            
            <h3 class="name">Especialidades</h3>
            
              <button ion-item  *ngFor="let esp of datos.especialidad">
                <ion-avatar item-left>
                  <img src="{{esp.imagen}}">
                </ion-avatar>
                <h2>{{esp.nombre}}</h2>
                <p></p>
              </button>

            <div *ngIf="datos.especialidad.length == 0" class="errorNoData">
              <p>No tiene información </p>
              <img src="assets/img/img_error.png" style="width: 20rem;">
            </div>         
          </ion-list>
        </div>

        <div [hidden]="profile !== 'exa'"> 
          <ion-list padding no-margin *ngIf="'exa'" class="friends">
            
            <h3 class="name">Exámenes logrados</h3>
            
            <button ion-item *ngFor="let exa of datos.examenes">
                <ion-avatar item-left>
                  <img src="{{exa.icono}}">
                </ion-avatar>
                <h2>{{exa.nombre}}</h2>
                
            </button>

            <div *ngIf="datos.examenes.length == 0" class="errorNoData">
              <p>No tiene información </p>
              <img src="assets/img/img_error.png" style="width: 20rem;">
            </div>  
          </ion-list>
        </div>

        <div [hidden]="profile !== 'com'"> 
          <ion-list padding no-margin *ngIf="'com'" class="follower">
            <h3 class="name">Comentarios</h3>
            <div *ngIf="datos.comentarios" >
              <button ion-item *ngFor="let com of datos.comentarios">
                <ion-avatar item-left>
                    <img src="assets/img/avatar.png">
                </ion-avatar>
                <h2>{{com.comentario}}</h2>
                <p>{{com.calificacion}} <ion-icon name="star" ></ion-icon></p>
              </button>

            </div>

            <div *ngIf="datos.comentarios.length == 0" class="errorNoData">
              <p>No tiene información </p>
              <img src="assets/img/img_error.png" style="width: 20rem;">
            </div>  
          </ion-list>
        </div>

      </div>

    </div>
  </div>

</ion-content>
