<ion-header>
  <ion-navbar color="rojolegal">
    <ion-title>Mi Perfil </ion-title>
    <ion-buttons right>
        <!--<button ion-button icon-only>
          <ion-icon name="ios-pin"></ion-icon> 
        </button>-->
        <button ion-button icon-only (tap)="cambiarclave()">
          <ion-icon name="ios-lock"></ion-icon> 
        </button>
      </ion-buttons>
  </ion-navbar> 
    
</ion-header>
<ion-content padding>
  
  <div class="card-background-page">

    <ion-card>
      
      <ion-buttons right class="update_btn">
        
      </ion-buttons>
    </ion-card>
     <br>
    <div class="profile_picture_area">

      <br><br>
      <div class="follow"> 
        <h3>{{data.u_calificacion}}</h3>
        <p> Calificación</p>
      </div>

      <div class="pro-pic-change">
        <div class="image">
          <img [src]="base64Image" *ngIf="base64Image"/>
        </div>
        <button ion-button round outline color=primary (tap)="changeprofilepic()">
          <ion-icon name="md-camera"></ion-icon>
        </button>
      </div>

      <div class="follow">
        <h3>{{data.u_cconsulta}}</h3>
        <p>Respuestas</p>
      </div>
    </div>
  </div>

  <div class="user_details">

    <div class="subtitle">Datos Personales </div>

    <div class="input_area">
      <ion-icon name="md-person"></ion-icon>
      <ion-input type="text" placeholder="Nombres" [(ngModel)]="data.u_nombre" name="u_nombre"></ion-input>
    </div>
    
    <div class="input_area">
      <ion-icon name="md-person"></ion-icon>
      <ion-input type="text" placeholder="Apellidos" [(ngModel)]="data.u_apellido" name="u_apellido"></ion-input>
    </div>    

    <div class="input_area">
      <ion-icon name="md-home"></ion-icon>
      <ion-input type="text" placeholder="Dirección"  [(ngModel)]="data.u_direccion" name="u_direccion"></ion-input>
    </div>

    <div class="input_area">
      <ion-icon name="md-call"></ion-icon>
      <ion-input type="text" placeholder="teléfono"  [(ngModel)]="data.u_celular" name="u_celular"></ion-input>
    </div>

    <div class="input_area">
      <ion-icon name="md-albums"></ion-icon>
      <ion-input type="text" placeholder="Carnet de Identidad" [(ngModel)]="data.u_carnet" name="u_carnet"></ion-input>
    </div>

    <br>
    
    <div class="subtitle"> Suscripción </div>
       
    <ion-list>
      <ion-item>
        
          Suscripción: 
        <ion-note item-end >
          {{datosPlan.plan}}
        </ion-note>
        <button item-end ion-button round (tap)="suscripciones()">Premium</button>

      </ion-item>

      <ion-item>
        <!--<ion-icon name="ios-calendar-outline" item-start></ion-icon>-->
          Fecha de compra: 
        <ion-note item-end >
          {{datosPlan.fecha_compra | fechas: "long" }}
        </ion-note>
      </ion-item>

      <ion-item>
        <!--<ion-icon name="ios-calendar-outline" item-start></ion-icon>-->
          Fecha de vencimiento: 
        <ion-note item-end >
          {{datosPlan.fecha_expiracion | fechas: "long" }}
        </ion-note>
      </ion-item>
    </ion-list>

    <br>
    <div class="subtitle"> Datos Profesionales </div>

    <div class="">
      <button ion-button round color="rojolegal" (tap)="changeRegistroimg()">
            <ion-icon name="md-camera"></ion-icon>
      </button>
      <ion-label > Imagen de tu matrícula de registro <p class="aclaracion" >(Indispensable para que activen tu cuenta) </p></ion-label>
    </div>
    <div class="input_area">
      <ion-icon name="md-briefcase"></ion-icon>
      <ion-input type="text" placeholder="Número de registro"  [(ngModel)]="data.u_numero_registro" name="u_numero_registro"></ion-input>
    </div>

    <div class="input_area">
      <ion-icon name="md-cash"></ion-icon>
      <ion-input type="number" placeholder="Valor de sus servicios"  [(ngModel)]="data.u_valorpregunta" name="u_valorpregunta"></ion-input>
    </div>

    <div class="text" >
      <ion-textarea no-margin rows="5" maxlength="500" [(ngModel)]="data.u_descripcion" name="u_descripcion" placeholder="Ingresa el detalle de tu perfil y tus servicios. (500 caracteres)" ></ion-textarea>
    </div>

    <div class="check_area">
      &nbsp; Especialidades:
      <p class="aclaracion" > Para elegir especialidades, debes contar con una cuenta Premium </p>
      
      <div *ngIf="datosPlan.id_plan == '0' "> 
        <ion-item *ngFor="let esp of especialidad" disabled >
          <ion-label>{{esp.e_nombre}} </ion-label>       
          <ion-checkbox color="danger" checked="{{esp.estado}}" disabled></ion-checkbox>
        </ion-item>
      </div>      
      <div *ngIf="datosPlan.id_plan != '0' ">
        <ion-item *ngFor="let esp of especialidad" >
          <ion-label>{{esp.e_nombre}} </ion-label>       
          <ion-checkbox color="danger" [(ngModel)]="esp.estado" name="{{esp.id_especialidad}}" checked="{{esp.estado}}"></ion-checkbox>
         </ion-item>


      </div>

      <!--<ion-item ion-item *ngFor="let item of especialidad;let i=index">
          <ion-label>{{ item.e_nombre }}</ion-label>
          <ion-checkbox [(ngModel)]="checkedItems[item.id_especialidad]" color="secondary"></ion-checkbox>
      </ion-item>-->

    </div>



    <br>
    <br>

  

    <button ion-button full color="rojolegal" round (tap)="actualizarDatos()">Actualizar Datos</button>
    <br><br>.
  

  </div>   

</ion-content>
