page-editperfilpro {
.scroll-content {
  background-color: #f1f4f5;
}

    ion-label{
        white-space: normal;
        
    }
  .aclaracion{
          color: gray;
          font-size: 12px;
          padding-left: 8px;
          padding-top: -15px;
  }
  ion-icon {
    .favorito{
      font-size: 3em;
    } 
    .nofavorito{
      font-size: 3em;
      color: grey;
    } 

  }
  ion-item-divider{
    text-align: left;
  }

  .toolbar-md-primary .toolbar-background-md {
    // background: transparent !important;
  }
  .card-background-page {
        margin-top: 80px;
    position: relative;
    ion-card {
      position: relative;
      text-align: center;
      margin: 0;
      width: 100%;
      height: 20%;
      box-shadow: none;
      overflow: visible;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.4;
        content: '';
      }
      .bg_curve {
        position: absolute;
        bottom: -80px;
        right: -55px;
        left: -55px;
        height: 110px;
        background-color: #ffffff;
        border-radius: 50%;
        z-index: 1;
      }
      .update_btn{
        position: absolute;
        bottom: 16px;
        right: 4px;
        z-index: 3;
        ion-icon{
          font-size: map_get($font, small);
        }
      }
    }
    .profile_picture_area {
      z-index: 2;
      position: absolute;
      bottom: -38px;
      left: 0;
      right: 0;
      display: flex;
      flex: 2;
      ion-avatar {
        height: 13rem;
        width: 13rem;
        overflow: hidden;
        border-radius: 100%;
        margin: auto;
        order: 2;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11);
        animation-name: zoomIn;
        animation-duration: .5s;
        animation-fill-mode: both;
        img {
          width: 100%;
        }
      }
      .follow {
        align-self: flex-end;
        text-align: center;
        flex: 1;
        color: map_get($colors, dark);
        &:first-child {
          order: 1;
        }
        &:last-child{
          order: 2;
        }
        h3{
          margin: 0;
        }
        p{
          margin: 0;
        }
      }
    }
  }
  .user_details {
    position: relative;
    top: 90px;
    // z-index: 1;
    // text-align: center;
    // .profile_status {
    //   margin-top: 16px;
    //   padding: 8px;
    //   ion-segment {
    //     font-size: map_get($font, bitsmall);
    //   }
    // }
    .subtitle{
      padding: 5px;
      font-weight: lighter;
      font-size: 2rem;
      width: 100%;
    }
    .name {
      color: map_get($colors, primary);
      margin-bottom: 0.5rem;
    }
    .address {
      color: map_get($colors, lightdark);
      text-transform: capitalize;
    }
    .about {
      .item {
        padding-left: 0;
        color: map_get($colors, lightdark);
        min-height: inherit;
        &:last-child ion-label {
          margin-bottom: 0;
        }
        p {
          line-height: 2rem;
          white-space: normal;
        }
        h2 {
          font-size: map_get($font, bitsmall);
          font-weight: 200;
          line-height: 2rem;
        }
        .item-inner {
          padding-right: 0;
          margin-left: 24px;

        }
        ion-label {
          white-space: normal;
          margin: 0 0 16px 0;
        }
        ion-icon {
          align-self: flex-start;
          margin: 0;
        }
      }
    }
    .mypost {
      background-color: map_get($colors, lightbg);
      ion-card {
        width: 100%;
        margin: 0;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11);
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        ion-row {
          border-top: 1px solid map_get($colors, bordercolor);
          ion-col {
            padding: 0;
            display: flex;
            .button {
              margin: 0;
              text-transform: capitalize;
              padding: 0 0.5em;
              font-size: map_get($font, bitsmall);
            }
            ion-note {
              margin: auto;
            }
          }
        }
        ion-label {
          display: flex;
          justify-content: space-between;
          margin: auto 0;
          .post_user_details {
            overflow: hidden;
          }
          .button {
            width: 40px;
          }
        }

      }
      ion-item {
        padding: 8px;
        .item-inner {
          padding-right: 0;
          ion-label {
            margin: auto 0;
          }
        }
      }
      ion-card-content {
        padding: 8px;
        p {
          text-align: left;
        }
      }
    }
  }

  .friends {

    ion-item-sliding {
      border-bottom: 1px solid map_get($colors, bg);
      &:last-child {
        border-bottom: none;
      }
      ion-item {
        margin-bottom: 0;
        ion-label {
          margin: auto;
          color: map_get($colors, dark);
          h2 {
            font-size: map_get($font, small);
            font-weight: 500;
          }
        }
      }
      ion-item-options {
        border-bottom: 0;
      }
    }
    .item {
      padding-left: 0;
      color: map_get($colors, lightdark);
      min-height: inherit;
      &:last-child ion-label {
        margin-bottom: 0;
      }
      p {
        line-height: 2rem;
        white-space: normal;
      }
      h2 {
        font-size: map_get($font, bitsmall);
        font-weight: 200;
        line-height: 2rem;
      }
      .item-inner {
        padding-right: 0;
      }
      ion-label {
        white-space: normal;
        margin: auto;
      }
      ion-icon {
        align-self: flex-start;
        margin: 0;
      }
    }
  }

  .follower {

    ion-item-sliding {  
      border-bottom: 1px solid map_get($colors, bg);
      &:last-child {
        border-bottom: none;
      }
      ion-item {
        margin-bottom: 0;
        ion-label {
          margin: auto;
          color: map_get($colors, dark);
          h2 {
            font-size: map_get($font, small);
            font-weight: 500;
          }
        }
      }
      ion-item-options {
        border-bottom: 0;
      }
    }
    .item {
      padding-left: 0;
      color: map_get($colors, lightdark);
      min-height: inherit;
      &:last-child ion-label {
        margin-bottom: 0;
      }
      p {
        line-height: 2rem;
        white-space: normal;
      }
      h2 {
        font-size: map_get($font, bitsmall);
        font-weight: 200;
        line-height: 2rem;
      }
      .item-inner {
        padding-right: 0;
      }
      ion-label {
        white-space: normal;
        margin: auto;
      }
      ion-icon {
        align-self: flex-start;
        margin: 0;
      }
    }
  }

        [ion-button] {
          float: left;
        }
        .pro-pic-change {
          top: 50px;
            height: 16rem;
          width: 16rem;
          position: relative;
          border-radius: 100%;
          margin: auto auto map_get($margin, medium) auto;
          .button {
            position: absolute;
            bottom: 10px;
            right: 5px;
            font-size: 13px;
            height: map_get($height, btnheight);
            width: map_get($width, btnwidth);
            z-index: 2;
            background-color: white;
            padding: 0;
          }

          .image {
            z-index: 1;
            position: relative;
            height: 16rem;
            width: 16rem;
            border-radius: 100%;
            overflow: hidden;
            border: 1px solid rgba(51, 51, 51, 0.39);
            img {
              max-width: 100%;
            }
          }
        }

        .input_area {
          display: flex;
          background-color: #fff;
          border-radius: 60px;
          height: map_get($height, btnheight);
          overflow: hidden;
          margin-bottom: map_get($margin, small);
          ion-icon {
            margin: auto;
            padding: 0 16px;
            color: map_get($colors, lightdark);
            font-size: map_get($font, small);
          }
          input {
            border: 0;
            flex: 1;
            background-color: transparent;
            margin: auto;
            height: map_get($height, btnheight);
            font-size: map_get($font, medium);
          }

          input::-webkit-input-placeholder {
            color: map_get($colors, lightdark) !important;
            font-size: map_get($font, bitsmall) !important;
          }

          input:-moz-placeholder { /* Firefox 18- */
            color: map_get($colors, lightdark) !important;
            font-size: map_get($font, bitsmall) !important;
          }

          input::-moz-placeholder { /* Firefox 19+ */
            color: map_get($colors, lightdark) !important;
            font-size: map_get($font, bitsmall) !important;
          }

          input:-ms-input-placeholder {
            color: map_get($colors, lightdark) !important;
            font-size: map_get($font, bitsmall) !important;
          }
          .select-placeholder{
            color: map_get($colors, lightdark);
            font-size: map_get($font, bitsmall);
          }
          .datetime {
            flex: 1;
            padding-left: 0;
            font-size: map_get($font, small);
            margin: auto;
            .datetime-placeholder {
              font-size: map_get($font, bitsmall);
              color: map_get($colors, lightdark)
            }
          }
          .datetime-wp {
            padding: inherit;
            .datetime-text{
              border-width: 0;
            }
          }
          .select-wp{
            border-width: 0;
          }
          ion-select {
            max-width: 100%;
            padding: 0;
            margin: auto 0;
            padding-right: 16px;
            flex: 1;
            //font-size: map_get($font, bitsmall);
            //color: map_get($colors, lightdark);
            .select-text {
              margin: auto;
            }
            .select-icon {
              display: none;
            }
            ion-option {
              font-size: map_get($font, small);
            }
          }

        }

  .text {
      // border: 1px solid map_get($colors, lightdark) !important;
      padding: map_get($padding, eighteen);
      // border-radius: map_get($radius, medium);
      border-radius: 25px;
      background: white;
      min-height: map_get($height, large);
      .text-input-wp {
        width: 100%;
        border: 0;
      }
      ion-textarea {
        transition: all 0.3s ease;
        textarea {
          margin: 0;
          width: 100%;
        }
      }
    }

    .check_area{
    border-radius: 25px;
    background: white;
    padding-top: 17px;
    margin-top: 7px;
    padding-bottom: 17px;
    }
}
