<ion-header>

  <ion-navbar color="primary">
    <ion-title>Actualizar Perfil</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (tap)="gotopassword()">
          <ion-icon name="ios-lock"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="center_screen">
    <form id="form" class="list" (ngSubmit)="actualizar(data)">
      <div class="pro-pic-change">
        <div class="image">
          <img [src]="base64Image" *ngIf="base64Image"/>
        </div>
        <button ion-button round outline color=primary (tap)="changeprofilepic()">
          <ion-icon name="md-camera"></ion-icon>
        </button>
      </div>

      <div class="input_area">
        <ion-icon name="md-person"></ion-icon>
        <input type="text" placeholder="Nombre" [(ngModel)]="data.u_nombre" name="u_nombre">
      </div>
      <div class="input_area">
        <ion-icon name="md-person"></ion-icon>
        <input type="text" placeholder="Apellido" [(ngModel)]="data.u_apellido" name="u_apellido">
      </div>
      <!--<div class="input_area">
        <ion-icon name="md-mail"></ion-icon>
        <input type="text" placeholder="Correo">
      </div>-->
      <div class="input_area">
        <ion-icon name="md-call"></ion-icon>
        <input type="number" placeholder="Telefono" [(ngModel)]="data.u_celular" name="u_celular">
      </div>

      <div class="input_area">
        <ion-icon name="ios-photos"></ion-icon>
        <input type="text" placeholder="Carnet de Identidad" [(ngModel)]="data.u_carnet" name="u_carnet">
      </div>

      <!--<div class="input_area">
        <ion-icon name="ios-man"></ion-icon>
        <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Date of Birth"></ion-datetime>
      </div>-->

      <!--<div class="input_area">
        <ion-icon name="md-male"></ion-icon>
        <ion-select interface="action-sheet" placeholder="Select gender">
          <ion-option>Male</ion-option>
          <ion-option>Female</ion-option>
        </ion-select>
      </div>-->

      <!--<div class="input_area">
        <ion-icon name="md-lock"></ion-icon>
        <input type="password" placeholder="Password">
      </div>
      <div class="input_area">
        <ion-icon name="md-lock"></ion-icon>
        <input type="password" placeholder="Confirm Password">
      </div>-->
      <button ion-button margin-top full color="primary" round >Actualizar</button>
    </form>
  </div>


</ion-content>

