<ion-header>

  <ion-navbar color=primary>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="forgotpassword">
    <div class="image_section">
      <img src="assets/img/forgotpassword.svg" alt="">
    </div>
    <div class="input_section">
      <h3>Cambia tu contraseña</h3>
      <!--<p>Give a new secure password to protect your account.</p>-->
      <div class="input_area">
        <ion-icon name="md-lock"></ion-icon>
        <input type="password" placeholder="Contraseña" [(ngModel)]="pass" name="pass">
      </div>
      <div class="input_area">
        <ion-icon name="md-lock"></ion-icon>
        <input type="password" placeholder="Confirmar Contraseña" [(ngModel)]="pass2" name="pass2">
      </div>
      <button ion-button full color="rojolegal" margin-top (tap)="passwordchangetoast(pass,pass2)">
        Cambiar
      </button>
    </div>
  </div>
</ion-content>
