page-cotizacion {

  .imagen{
    text-align: center;
    display: inline-block;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
    text-align: center;
    img {
      border-radius: 100%;
      width: 100%;
    }
  }

  .la_texto{
      text-align: center;
      width: 100%;
  }

  hr.style1{
	border-top: 1px solid #8c8b8b;
    }

  .item-md p{
    white-space: normal !important; 
  }
}
