<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cotización </ion-title>
   
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<div class="imagen pro" >
    <ion-avatar item-start>
      <img src="assets/img/avatar.png">
    </ion-avatar> 
  </div>-->

  <!--<div class="imagen">
      <ion-avatar item-start style="display: inline-block;">
        <img src="assets/img/avatar.png">
      </ion-avatar>
  </div>-->

  <ion-item >
      <ion-avatar item-left name="dollar"></ion-avatar>

      <h2 > {{data.c_titulo}}</h2>
      
      <p>{{data.c_descripcion}}</p>
  </ion-item>

  <!--<div class="la_texto">
    
     <strong>  </strong> <br> "{{data.c_descripcion}}"

  </div>-->
  
  <!--<br>
  <ion-list-header>
    Urgencia:  {{data.c_nivel}}
  </ion-list-header> -->

  <ion-item> 
    
    <p>Urgencia:  {{data.c_nivel}}</p>
  </ion-item>
  <ion-item>
    <ion-icon color="primary" name="time" item-left></ion-icon>
    <p>{{data.c_fechainicio  | fechas: "long"}}</p>
  </ion-item>
  <ion-item>
    <ion-icon color="primary" name="time" item-left></ion-icon>
    <p>{{data.c_fechafin  | fechas: "long"}}</p>
    <!--<p>{{data.c_fechafin | date:'EEEE dd/MM/yy ':'':'es-BO'}}</p>-->
  </ion-item>
  <!--RESPUESTA-->

  <ion-list-header>
    Respuesta
  </ion-list-header> 

    <ion-item >
      <ion-avatar item-left >
        <img *ngIf="data.pro_imagen!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{data.pro_imagen}}"/>
        <img *ngIf="data.pro_imagen=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
     
      </ion-avatar>

      <h2 > {{data.pro_nombre}} {{data.pro_apellido}}</h2>
      
      <p>{{data_det.contenido}}</p>
  </ion-item>




     <!--<div class="text" >
     <ion-textarea clearInput autocomplete="on" no-margin rows="4" id="respuesta" [(ngModel)]="data.respuesta" name="respuesta" placeholder="Ingresa la respuesta a la solicitud..." ></ion-textarea>
    </div>
-->
    <ion-item>
      <ion-label>Precio (Bs): </ion-label>
      <ion-input [(ngModel)]="data_det.precio" ng-disabled="true" name="precio" type="number" ></ion-input>
    </ion-item>

   
  
</ion-content>