<ion-header>

  <ion-navbar color=primary>
    <ion-title>{{preguntadet.nombre_prof}} {{preguntadet.apellido_prof}}</ion-title>

    <!--<ion-buttons right class="mrgn_right">
      <button ion-button icon-only (tap)="goCalificar(preguntadet.idrespuesta, preguntadet.calificacion)">
        <ion-icon name="ios-star"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<div class="message" *ngIf="tipo==1">
    <ol class="chat">
      <li class="self">
        <div class="avatar">
          <img *ngIf="n_foto == '../IMGUSERS/' " src="assets/img/avatar.png"  >
          <img *ngIf="n_foto != '../IMGUSERS/' " src="{{n_foto}}"  >
        </div>
        <div class="msg">
          <div class="arrow-right"></div>
          <p><strong> {{pregunta.p_titulo}} </strong> {{pregunta.p_contenido}}</p>
          <div class="msg_details">
            <time>{{pregunta.p_fecha | date:'EEEE dd/MM/yy HH:mm':'':'es-BO'}}</time>
          </div>
        </div>
      </li>

      <li class="other" *ngIf="pregunta.p_estado>=5">
        <div class="avatar">
           <img *ngIf="preguntadet.foto_prof != 'http://legalbo.com/legalapp/IMGUSERS/' " src="{{preguntadet.foto_prof}}"/>
           <img *ngIf="preguntadet.foto_prof == 'http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
              
        </div>
        <div class="msg">
          <div class="arrow-left"></div>
          <p>{{preguntadet.respuesta}}</p>
          <div class="msg_details">
            <time>{{preguntadet.fecha_r | date:'EEEE dd/MM/yy HH:mm':'':'es-BO'}}</time>
          </div>
        </div>
      </li>
      
      

    </ol>


  </div>-->

  <!--CONTENIDO PARA LA PREGUNTA EXPRESS-->
  <div class="message" *ngIf="tipo==1">
    <ol class="chat">
      <!--esta es solo la pregunta-->
        <li class="self">
          <div class="avatar">
            <img  src="{{n_foto}}"  >
          </div>
          <div class="msg"> 
            <div class="arrow-right"></div>
            <p><strong> {{pregunta.p_titulo}} </strong> {{pregunta.p_contenido}}</p>
            <div class="msg_details">
              <time>{{pregunta.p_fecha  | fechas: "long" }}</time>
            </div>
          </div>
        </li>

        <!--las respuestas-->
        <div *ngFor="let data of respuestas;let i = index">
          <div *ngIf="i%2===0" >
            <li class="other" >
              <div class="avatar">
                <img *ngIf="data.profesional_info.p_foto!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{data.profesional_info.p_foto}}"/>
                <img *ngIf="data.profesional_info.p_foto=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
                
              </div>
              <div class="msg">
                <div class="arrow-left"></div>
                <p>{{data.contenido}}</p>
                <div class="msg_details">
                  <time>{{respuestas[i].datetime  | fechas: "long" }}</time>
                </div>
              </div>
            </li>

            <div *ngIf="respuestas[i + 1]">
              <li class="self">
                <div class="avatar">
                  <img  src="{{n_foto}}"  >
                </div>
                <div class="msg">
                  <div class="arrow-right"></div>
                  <p> {{respuestas[i+1].contenido}}</p>
                  <div class="msg_details">
                    <time>{{respuestas[i+1].datetime  | fechas: "long"  }}</time> 
                  </div>
                </div>
              </li>  
            </div>  
          </div>      
        </div>
      </ol>
      
    <div class="footchat" *ngIf="pregunta.p_estado==1 || pregunta.p_estado==2">
        <button ion-button round small color=rojolegal (tap)="cancelarPregunta()">
          Cancelar
        </button>        
        <button ion-button round small color=lightdark (tap)="modificarPregunta()">
          Modificar
        </button>
        <button *ngIf="pregunta.p_estado==1 " ion-button round small color=aprobado (tap)="gotoWallet()">
          Pagar
        </button>
    </div>
    <div class="footchat" *ngIf="showReplica">
        <button ion-button round small color=lightdark (tap)="completarPregunta()">
          ¿Quieres complementar tu pregunta?
        </button>        

        <div style="width:100%;color: #ea4949;    font-style: italic;    padding: 14px;">
          {{tiempoRestante}}
        </div>
    </div>
    
    <br><br>
    <div class="espacio"></div>


  </div>

  <!--CONTENIDO PARA LA PREGUNTA DIRECTA-->
  <div class="message" *ngIf="tipo==2">
    <ol class="chat">
      <!--esta es solo la pregunta-->
        <li class="self">
          <div class="avatar">
            <img  src="{{n_foto}}"  >
          </div>
          <div class="msg">
            <div class="arrow-right"></div>
            <p><strong> {{pregunta.pd_titulo}} </strong> {{pregunta.pd_contenido}}</p>
            <div class="msg_details">
              <time>{{pregunta.datetime  | fechas: "long" }}</time>
            </div>
          </div>
        </li>

        <!--las respuestas-->
        <div *ngFor="let data of respuestas;let i = index">
          <div *ngIf="i%2===0" >
            <li class="other" >
              <div class="avatar">
                <img *ngIf="pregunta.p_foto!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{pregunta.p_foto}}"/>
                <img *ngIf="pregunta.p_foto=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
                
              </div>
              <div class="msg">
                <div class="arrow-left"></div>
                <p>{{data.contenido}}</p>
                <div class="msg_details">
                  <time>{{respuestas[i].datetime  | fechas: "long" }}</time>
                </div>
              </div>
            </li>

            <div *ngIf="respuestas[i + 1]">
              <li class="self">
                <div class="avatar">
                  <img  src="{{n_foto}}"  >
                </div>
                <div class="msg">
                  <div class="arrow-right"></div>
                  <p> {{respuestas[i+1].contenido}}</p>
                  <div class="msg_details">
                    <time>{{respuestas[i+1].datetime | fechas: "long"}}</time> 
                  </div>
                </div>
              </li>  
            </div>  
          </div>      
        </div>
    </ol>

    <br><br>
    <div class="footchat" *ngIf="pregunta.estado==1 ">
        <button ion-button round small color=rojolegal (tap)="cancelarPregunta()">
          Cancelar
        </button>        
        <button ion-button round small color=lightdark (tap)="modificarPregunta()">
          Modificar
        </button>
        <button *ngIf="pregunta.estado==1 " ion-button round small color=aprobado (tap)="gotoWallet()">
          Pagar
        </button>
    </div>
        <div class="footchat" *ngIf="showReplica">
            <button  *ngIf="pregunta.c_respuestas!='3'"  ion-button round small color=lightdark (tap)="completarPregunta()">
              ¿Quieres complementar tu pregunta?
            </button>    

            <div style="width:100%;color: #ea4949;    font-style: italic;    padding: 14px;">
              {{tiempoRestante}}
            </div>    
        </div>
  </div>


  <!--<form *ngIf="pregunta.p_estado==1" id="form" class="list" (ngSubmit)="responder(data)">    
   <div class="reply_input" > 
    
      <div class="input_area">
        <ion-textarea no-margin name="messageInputBox"  [disabled]="responder" [(ngModel)]="data.messageInputBox" placeholder="Enviar pregunta" (input)="changetextarea()" id="messageInputBox"></ion-textarea>

        <div class="right_arrow"></div>
      </div>
      <button  [disabled]="responder" ion-button  color=danger>
        <ion-icon name="ios-send"></ion-icon>
      </button>
     
    </div>
   </form>-->


  <form id="form" class="list" *ngIf="formShow" (ngSubmit)="responder(data)">    
   <div class="reply_input" *ngIf="pregunta.p_estado!=7" > 
    
      <div class="input_area">
        <ion-textarea no-margin name="messageInputBox" [disabled]='formDisabled' [(ngModel)]="data.messageInputBox" placeholder="Enviar pregunta" (input)="changetextarea()" id="messageInputBox"></ion-textarea>

        <div class="right_arrow"></div>
      </div>
      <button  [disabled]='formDisabled' ion-button  color=danger>
        <ion-icon name="ios-send"></ion-icon>
      </button>

    </div>
   </form>
  

  <!--PARA CALIFICAR PREGUNTA EXPRESS-->

  <ion-footer *ngIf="showCalificar" style="background-color:white;">
    <div class="test">

      <div class="star">
        <div class="list">
          <div class="rate" > 
            <span   *ngFor="let starValue of rating" (tap)="rate(starValue.id)" name="starValue" [ngClass]="starValue.val? 'star active':'star star0' "> </span>
          </div>
        </div>
      </div>

      <div class="text" >
        <ion-textarea no-margin rows="3" [disabled]='!calificar' id="comentario" [(ngModel)]="comentario" name="comentario" placeholder="Ingresa tu comentario, valora la atención del profesional..." ></ion-textarea>
      </div> 

      <div id="btn" style="width:100%; text-align:center;" *ngIf="calificar" >
        <button ion-button color=danger round (tap)="goCalificar(pregunta.id, pregunta.calificacion)">Calificar</button> 
      </div>      
      <div id="btn" style="width:100%; text-align:center;" *ngIf="pregunta.calificacion!=0" >
        Gracias por tu calificación. Ayudará a mejorar nuestros servicios. 
      </div>
    </div>


    <!--<ion-toolbar (tap)="goCalificar(preguntadet.idrespuesta, preguntadet.calificacion)">
      <ion-title><ion-icon name="ios-star"></ion-icon> Calificar</ion-title>
    </ion-toolbar>-->
  </ion-footer>

</ion-content>
