<!--
  Generated template for the FilelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title>Archivos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="imgquiz">
    <img src="assets/img/files.png">
    <!--<p>Pon a prueba tus conocimientos y recibe tus certificados</p>-->
  </div>

  <ion-list>
    <ion-item *ngFor="let data of archivos" >
       <ion-icon name="book" item-start></ion-icon>
      <h2>{{data.a_nombre}}</h2>
      <p>{{data.especialidad}}</p>
      <button ion-button clear item-end (tap)="openWebpage(data.a_url)">Ver</button>
    </ion-item>
  </ion-list>
</ion-content>
