<!--
  Generated template for the RecargaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=primary>
    <ion-title> Detalle de pago</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div >
        <ul *ngIf="datos" class="pricing-list">

          <li class="box_shadow" margin-bottom>
            <header class="pricing-header premium">
              <h2>{{datos.nombre_plan}}</h2>
              <div class="price">
                <span class="currency">Bs</span>
                <span class="value">{{datos.costo_plan}}</span>
                <span class="duration" *ngIf="datos.duracion == 1"> al mes</span>
                <span class="duration" *ngIf="datos.duracion == 12"> al año</span>
              </div>
            </header>
            <div class="pricing-body">
              <ul class="pricing-features">
                <li *ngIf="datos.c_especialidades !=0">Selecciona hasta {{datos.c_especialidades}} especialidades</li>
                <li *ngIf="datos.bibllioteca == 1">Acceso ilimitado a la biblioteca</li>
                <li>Soporte <em>24/7</em></li>
              </ul>
            </div>

          </li>

      </ul>
      <!--{{datos['nombre_plan']}}-->
      <ion-grid>
        <ion-row>
          <ion-col col-6> 
            <button ion-item (tap)="recarga(2)" style="text-align:center">
              <h2>Pago con Tarjeta</h2>
            <!--<ion-icon color="primary" name="add" item-left></ion-icon>
              Pago con tarjeta-->
              <img src="assets/icon/credit-card.png"  >
        
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-item (tap)="recarga(3)" style="text-align:center">
              <h2>Pago en Banco</h2>
              <!--<ion-icon color="primary" name="add" item-left></ion-icon>
              Pago a Banco-->
              <img src="assets/icon/payment.png"  >
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
        <ion-list>
          
        </ion-list>

        <ion-list>

          
      
        </ion-list>
    </div>

    <!--<div *ngIf="paso==2" >
        <ion-list>

          <ion-item>
            <ion-label floating>Nombre de titular</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Numero de tarjeta</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Codigo CVC</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>fecha de vencimiento</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Direccion</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

           <button ion-button outline class="post_btn" (tap)="pagado()">Pagar</button>

        </ion-list>

    </div>

    <div *ngIf="paso==3" >
        
        <p>
          Ve a cualquiera de los puntos de pago. Solicita pagar el servicio <strong>LegalApp</strong> y presenta el siguiente codigo:
        </p>

           <ion-card>
            <ion-card-header color=primary>
              34469976
            </ion-card-header>
           </ion-card>
           <p>Fecha de vencimiento: 12/1/2018</p>
          <br>
         <button ion-button outline class="post_btn">Generar nuevo codigo</button>

    </div>-->
</ion-content>
