<ion-content>
  <div class="slider_area">
    <ion-slides pager >
      <ion-slide *ngIf="tipo==2">
        <div class="slider_content">
          <img src="assets/img/tour0.png">
          <!--<h3>Bienvenido!</h3>-->
          <small>Recuerda acceder a tu perfil y cargar tu matrícula de abogado para que procedamos a la activación de tu cuenta como profesional</small>
        </div>
      </ion-slide>      
      
      <ion-slide>
        <div class="slider_content">
          <img src="assets/img/tour1.png">
          <h3>Bienvenido!</h3>
          <small>a la comunidad
de abogados online más
grande de Bolivia</small>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slider_content">
          <img class="specification_img" src="assets/img/tour2.png">
          <h3 *ngIf="tipo==1">Aquí encontrarás</h3>
          <h3 *ngIf="tipo==2">Desarrolla tu expertice!</h3>
          <small *ngIf="tipo==1" >  tu experto legal a sólo un clic de distancia.</small>
          <small *ngIf="tipo==2" > Encuentra un mundo de consultas que la comunidad tiene para ti!</small>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slider_content">
          <img class="specification_img" src="assets/img/tour3.png">
          <h3 *ngIf="tipo==1">Resuelve tus dudas!</h3>
          <h3 *ngIf="tipo==2">Genera dinero </h3>
          <small *ngIf="tipo==1" >  En cualquier momento, en cualquier lugar y desde la comodidad de tu casa con sólo un clic.</small>
          <small *ngIf="tipo==2" > desde cualquier lugar donde te encuentres y en cualquier momento. Ayuda a la comunidad a resolver todos sus problemas legales.</small>
        
        </div>
      </ion-slide>

     
    </ion-slides>
  </div>
  <div class="button_section" style="background-color: #f53d3d;">
    <button ion-button color="lightbg" round (tap)="gotohome()">Empecemos</button>
  </div>
</ion-content>
