<ion-header>
  <ion-toolbar color="lightdark">
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
        
      </button>
    </ion-buttons>

    <ion-title><div style="text-align:center; width:100%; "><img src="assets/img/logotexto.png" ></div></ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only (click)="gotoNotification()">
        <img src="assets/img/logo_letras_sm.png" >
      </button>
    </ion-buttons>-->
   
  </ion-toolbar>
    <!--<ion-toolbar *ngIf="estado==0" color=rojolegal style="height:20px important!; ">
      <ion-title > Valida tu correo electrónico</ion-title>
    </ion-toolbar>-->
</ion-header>

<!--<ion-content style="background: url(assets/img/logo_letras.png) no-repeat center;background-size:cover;">-->
<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card (tap)="gotoLista(1)">
          <ion-badge color="rojolegal">{{pendientes.express}}</ion-badge>
          <ion-card-header>
            <img src="assets/icon/mpro_comunidad.png"/>
          </ion-card-header>
          <ion-card-content>
           PREGUNTAS EXPRESS 
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (tap)="gotoLista(2)">
          <ion-badge color="rojolegal">{{pendientes.directas}}</ion-badge>
          <ion-card-header>
            <img src="assets/icon/mpro_privada.png"/>
          </ion-card-header>
          <ion-card-content>
           PREGUNTAS DIRECTAS 
          </ion-card-content>
        </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 (tap)="gotoHistorialPro()"> 
        <ion-card>
          <ion-badge color="rojolegal">{{pendientes.replicas}}</ion-badge>
          <ion-card-header>
            <img src="assets/icon/mpro_historial.png"/>
          </ion-card-header>
          <ion-card-content>
           MIS PREGUNTAS 
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (tap)="gotoLista(3)">
          <ion-badge color="rojolegal">{{pendientes.cotizaciones}}</ion-badge>
          <ion-card-header>
            <img src="assets/icon/mpro_cotizacion.png"/>
          </ion-card-header>
          <ion-card-content>
           COTIZACIÓN 
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card (tap)="gotoPasantia()">
          <ion-card-header>
            <img src="assets/icon/mpro_pasantia.png"/>
          </ion-card-header>
          <ion-card-content>
           PASANTÍA 
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 (tap)="gotoExamen()">
        <ion-card>
          <ion-card-header>
            <img src="assets/icon/mpro_examenes.png"/>
          </ion-card-header>
          <ion-card-content>
           EXÁMENES 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
