page-homepro {
    ion-badge{
        position: absolute;
        margin: 1.3em;
        font-size: 1.3em
    }
    .msj{
        background-color: red;
        color: white;
        position: absolute;
        width: 100%;
        
    }

    ion-card-content{
        text-align: center;
        font-size: 15px;
        color: grey;
        font-weight: 400;
    }
}
