<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title> Suscripciones </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ul class="pricing-list">

    <li *ngFor="let plan of datos" class="box_shadow" margin-bottom>
      <header class="pricing-header premium">
        <h2>{{plan.nombre_plan}}</h2>
        <div class="price">
          <span class="currency">Bs</span>
          <span class="value">{{plan.costo_plan}}</span>
          <span class="duration" *ngIf="plan.duracion == 1"> al mes</span>
          <span class="duration" *ngIf="plan.duracion == 12"> al año</span>
        </div>
      </header>
      <div class="pricing-body">
        <ul class="pricing-features">
          <li *ngIf="plan.c_especialidades !=0">Selecciona hasta {{plan.c_especialidades}} especialidades</li>
          <li *ngIf="plan.bibllioteca == 1">Acceso ilimitado a la biblioteca</li>
          <li>Soporte <em>24/7</em></li>
        </ul>
      </div>
      <footer padding>
        <button (tap)="recarga(plan)" round ion-button color="rojolegal" full>Seleccionar</button>
      </footer>
    </li>

  </ul>
</ion-content>
