<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=primary>
    <ion-title>Notarías cercanas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div #map id="map_canvas"></div> 
</ion-content>