page-mapa {
  #map_canvas{
    display: block;
    height: 100%;
    width: 100%;
  }
 .scroll {
     height: 100%
  }
 
  // #map_canvas {
  //    width: 100%;
  //    height: 100%;
  // }

  .ios, .md {
 
    home-page {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
 
    }
 
}
}
