<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <!--<ion-title></ion-title>-->

    <ion-buttons right >
   
      <button ion-button icon-left (tap)="gotoFavoritos()">
        <ion-icon name="ios-heart">   <span class="la_texth">Favoritos</span> </ion-icon>
      </button>
      <button ion-button icon-left (tap)="gotoEspecialidades()">
        <ion-icon name="ios-search">   <span class="la_texth">Especidalidades</span> </ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull para actualizar"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <!--<ion-textarea no-margin rows="1" disabled id="statusInputBox" placeholder="Ingresa tu consulta..." (tap)="gotoexpres()" ></ion-textarea>-->
  
  <!--<bR>-->

<!--PROFESIONALES DESTACADOS-->
  <div class="titulo_secciones">
    <h2>Destacados </h2>
  </div>
  <div class="selected_people" *ngIf="destacados">

    <ion-chip #chip1 *ngFor="let dato of abogadosDestacados" (tap)="gotoperfil(dato)">
      
      <div class="tarjeta-hor">
        <ion-avatar item-start>
          <img *ngIf="dato.p_foto=='' " src="assets/img/avatar.png"/>
          <img *ngIf="dato.p_foto!='' " src="http://legalbo.com/legalapp/IMGUSERS/{{dato.p_foto}}"/>
        </ion-avatar>
        
        <h2>{{dato.p_nombre}}</h2>
        <div class="la_h3">
          <h3>{{dato.n_contestadas}} respuestas</h3>
        </div>
        <div class="la_icons">
            <button ion-button  icon-left  clear small>
                <ion-icon name="ios-star" ><span> {{dato.calificacion}}</span></ion-icon> 
            </button>
            <button ion-button  icon-left  clear small>
                <ion-icon name="text"><span> {{dato.n_comentarios}} </span> </ion-icon>
            </button>
        </div>
      </div>
      
    </ion-chip>

   
  </div>

  <!--LISTA DE PROFESIONALES-->
  <div class="titulo_secciones">
    <h2>Lista de abogados </h2>
  </div>
  <div *ngIf="abogados" >
    <ion-card *ngFor="let dat of abogados" (tap)="gotoperfil(dat)"  [ngClass]="(dat.idplan!=0)?'premium':'nopremium'">

      <ion-item no-padding>
        <ion-avatar item-start>
            <img *ngIf="dat.p_foto=='' " src="assets/img/avatar.png"/>
            <img *ngIf="dat.p_foto!='' " src="http://legalbo.com/legalapp/IMGUSERS/{{dat.p_foto}}"/>
            
        </ion-avatar>
        <div class="post_user_details" >
          <h2> <img class="premium_img" *ngIf="dat.idplan!=0" src="assets/icon/premium.png"/> {{dat.p_nombre}} {{dat.p_apellido}}</h2>
          <p>{{dat.n_contestadas}} respuestas </p>
        </div>
      </ion-item>

      <ion-card-content>
        <p>{{dat.p_descripcion}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="ios-star"></ion-icon>
            <div> {{dat.calificacion}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{dat.n_comentarios}} Comentarios</div>
          </button>
        </ion-col>

      </ion-row>

    </ion-card>
  </div>

  <div *ngIf="!haydatos" class="fakeItem">
    <ion-card *ngFor="let datfake of fakedatos">

      <ion-item no-padding>
        <ion-avatar item-start>
            <img />
            
        </ion-avatar>
        <div class="post_user_details" >
          <h2> </h2>
          <p> </p>
        </div>
      </ion-item>

      <ion-card-content>
        <p></p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="ios-star"></ion-icon>
            <div> </div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div></div>
          </button>
        </ion-col>

      </ion-row>

    </ion-card>
  </div>

  <div *ngIf="!abogados" class="errorNoData">
          <p>Ningún Resultado</p>
          <img src="assets/img/img_error.png" style="width: 20rem;">
  </div>
    <!--para recargar mas abogados -->
  <ion-infinite-scroll (ionInfinite)="cargarMas($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando profesionales...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <!--<ion-fab right bottom >
    <button ion-fab (tap)="gotoexpres()"  color="rojolegal" style="font-weight: bolder;font-size: 2.5em;">?</button>
  </ion-fab>-->


</ion-content>
  <div class="fot" >
      <button (tap)="gotoexpres()"  ion-button round  full color=rojolegal >
               Consultar
      </button>
  </div>

 <!--<ion-footer>

  </ion-footer>-->