page-timeline {
  [icon-left] ion-icon, [icon-start] ion-icon {
    font-size: 1.2em !important;
  }

  ion-item {
    h2{
      white-space: normal;
    }
    
  }
      .premium{
        border-style: solid;
        border-width: 2px;
        border-color: gold;
      }
  .content {
    background-color: map_get($colors, lightbg);
    ion-item {
      padding: 0;
      .item-inner {
        padding-right: 0;
      }
    }
    ion-card-content {
      padding: 0;
    }
    ion-card {
      width: 100%;
      margin: 0;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11);
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      ion-row {
        border-top: 1px solid map_get($colors, bordercolor);
        ion-col {
          padding: 0;
          display: flex;
          .button {
            margin: 0;
            text-transform: capitalize;
            padding: 0 0.5em;
            font-size: map_get($font, bitsmall);
          }
          ion-note {
            margin: auto;
          }
        }
      }
      ion-label {
        display: flex;
        justify-content: space-between;
      }
      ion-item {
        padding: 8px;
        .item-inner {
          padding-right: 0;
          ion-label {
            margin: auto 0;
            .post_user_details {
              overflow: hidden;
            }
            .button {
              width: 40px;
            }
          }
        }
      }

    }
    ion-card-content {
      padding: 8px;
      p {
        text-align: left;
      }
    }


  }
  
      ion-textarea {
        transition: all 0.3s ease;
        border: 1px solid #b7b7b7 !important;
          padding: 8px;
          border-radius: 4px;
          min-height: 5rem;
          margin-bottom: 1rem;
        textarea {
          margin: 0;
          width: 100%;
          
        }
      }
  .tarjeta-hor{
    position: relative; 
            width: 120px; 
            height: 180px;
  }
  .la_icons{
    // position: relative;
    // margin-bottom: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 40px; */
    height: 50px;
    span{
      font-size: 11px;
      padding-top: -10px;
    }
  
  }
  .la_h3{
    position: absolute;
    bottom: 0;
    //left: 0;
    height: 65px;
    left: 25px;
  }
  .la_texth{
    font-size: 14px;
  }
  
  .selected_people {
    padding: 16px;
    overflow-x: auto;
    display: flex;
    ion-chip {
      touch-action: auto !important;
      background-color: white;
      text-align: center;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11);
      width: 120px;
      min-width: 120px;
      height: 160px;
      min-height: 60px;
      border-radius: 5px;
    
      // border-radius: 100% !important;
      margin-right: 22px !important;
      border-width: 2px;
      display: inline-block;
      .button{
        margin: 7px;
        border-radius: 0;
        width: 40px !important;
      }
      h2{
        font-size: 14px;
        margin: 1px;
      }
      h3{
        font-size: 12px;
        margin: 1px;
      }
      ion-avatar {
        width: 60px;
        min-width: 60px;
        height: 60px;
        min-height: 60px;
        display: inline-block;
        padding-top: 2px;
        img {
          display: block;
          width: 100% !important;
          height: 100% !important;
        }
      }
      
    }
  }

  .premium_img{
        display: inline;
    width: 20px;
    margin-top: 3px;
  }

  ion-footer {
    &.footer-md::before {
        background-image: none;
    }
}
}

  .fot{
   bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
    position: absolute;
    text-align: center;
    padding: 0px 50px;
    /* position: fixed; */
    /* left: 0; */
    /* right: 0; */
    z-index: 10;
    display: -webkit-box;
    button{
      width: 100%;
    }
  }

  .titulo_secciones{
    width: 120%;
    background-color: map-get($colors , rojolegal );
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    h2{
    color: map_get($colors, lightbg);
    font-size: 20px;
    margin-top: 6px !important;
    margin-bottom: 1px !important;
      ion-icon{
        font-size: 1.0em;
      }
    }
  }

  .fakeItem{
    h2, h3, p, ion-card-title, img {
    background-color: lightgrey;
    opacity: 0.5;
    height: 1em;
    margin-top: 10px;
    }
    ion-card-title{
    width: 80%;
        
    }
    img{
        width: 100%;
        height: 100px;
    }

    h2 {
    width: 35%;
    }

    h3 {
    width: 40%;
    } 

    p {
    width: 60%;
    }
}