<ion-header>

  <ion-navbar color=primary>
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Especialidades</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let esp of especialidad" (tap)="sendEspecialidad(esp.id_especialidad)">
      <ion-avatar item-left>
        <img src="{{esp.e_imagen}}">
      </ion-avatar>
      <h2>{{esp.e_nombre}}</h2>
      <p>{{esp.e_descripcion}}</p>
    </button>
    
  </ion-list>
</ion-content>
