<!--
  Generated template for the ExamenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title>Examen</ion-title>

    <ion-buttons right class="mrgn_right">
      <button ion-button icon-only (tap)="gotoX()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="status==0" >
    <img src="assets/icon/medal.png"/>
    <p>
      <strong> Instrucciones</strong> Aquí va el detalle de las instrucciones, solicitar el detalle para poder incorporarlo 
    </p>
    <button ion-button margin-top full color="primary" round (tap)="iniciar()">INICIAR</button>
    
  </div>

  <div id="preguntas" *ngIf="status==1" >

    <div class="pregunta">
      {{pregunta}} 
    </div>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
         <button ion-button margin-top full color="rojolegal" round (tap)="respuesta(0)">Falso</button>
         
        </ion-col>        
        <ion-col col-6>
          <button ion-button margin-top full color="primary" round (tap)="respuesta(1)">Verdadero</button>
    
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

  <div *ngIf="status==2" >
    <div class="imagen">

      <img *ngIf="calificacion > 7"  src="assets/img/exa-ok.jpg">
      <img *ngIf="calificacion <= 7"  src="assets/img/exa-error.png">

    </div>
    <button ion-button margin-top full color="primary" round (tap)="gotoX()">FINALIZAR</button>
    
  </div>
</ion-content>
