page-examen {

 .imagen{
    text-align: center;
    display: inline-block;
    // margin-left: 20%;
    width: 100%;
    text-align: center;
    img {
      border-radius: 100%;
      width: 100%;
    }
  }

  p {
      text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .pregunta{

    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}
