page-examenlist {

    .imgquiz{

        p{
            text-align: center;
            color: #c1272d;
            margin-top: -46px;
            font-size: 18px;
            font-weight: 100;
            padding: 0px 20px;
        }
    }
}
