<!--
  Generated template for the ExamenlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title>Exámenes disponibles</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (tap)="gotohistorial()">
          <ion-icon name="trophy"></ion-icon>
        </button>
      </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="imgquiz">
    <img src="assets/img/examenes.png">
    <p>Pon a prueba tus conocimientos y recibe tus trofeos</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let data of examen" (tap)="gotoExamen(data)">
      <ion-thumbnail item-start>
        <img src="{{data.e_imagen}}">
      </ion-thumbnail>
      <h2>{{data.e_titulo}}</h2>
      <h2>{{data.especialidad}}</h2>
      <p>{{data.e_descripcion}}</p>
      <!--<button ion-button clear item-end>View</button>-->
    </ion-item>
  </ion-list>
</ion-content>
