// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #656c72,
  lightprimary: #EDE7F6,
  secondary:  yellow,
  danger:     #f53d3d,
  dark:       #525252,
  lightdark:  #b7b7b7,
  light:      #f8f8f8,
  extralight: #fff,
  facebook:   #3b5998,
  azullegal: #656c72,
  rojolegal: #e51d09,
  aprobado: #1db352,

  twitter:    #429cd6,
  gmail:      #df4b37,
  bg  :       #f1f4f5,
  lightbg  :  #f8f8f8,
  bordercolor: rgba(183, 183, 183, 0.39),

  // estados
  porResponder: orange,
  recibiendo: #43ccac,

);

//fonsize

$font: (
  big:          2.3rem,
  extramedium:  1.9rem,
  largemedium:  1.6rem,
  medium:       1.5rem,
  small:        1.5rem,
  bitsmall:     1.4rem,
  smallbtn:     1.3rem,
);

//margin

$margin: (
  big:      32px,
  medium:   16px,
  small:    8px,
  bitsmall: 4px,
);

//padding

$padding: (
  sixteen: 16px,
  eighteen: 8px,
);


$height:(
  btnheight: 4rem,
  roundbtn:  5rem,
  propic:  20rem,
  smallbtn: 3rem,
  large:    7rem,
);


$width:(
  logo: 14rem,
  roundbtn:  5rem,
  propic:  20rem,
  btnwidth: 4rem,
);

$radius: (
  big:      8px,
  medium:   4px,
  small:    2px,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
