<!--
  Generated template for the WalletprolistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title> Detalle {{opt}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div [hidden]="opt !== 'ingreso'" >
    <ion-list padding no-margin >

        <ion-list-header no-margin>
          Más recientes
        </ion-list-header>
        <button ion-item *ngFor="let res of datos" (tap)="gotoDetalle(res)" >
          <div class="description">
            <h2>{{res.r_tipo}}</h2>
            <p>{{res.r_datetime  }}</p>
          </div>
          <ion-note class="deduction_balance" item-end>{{res.r_valor}} Bs</ion-note>
        </button>
   
    </ion-list>
  </div>

  <div [hidden]="opt !== 'abono'" >
    <ion-list padding no-margin >

        <ion-list-header no-margin>
          Más recientes
        </ion-list-header>
        <button ion-item *ngFor="let res of datos" (tap)="gotoDetalle(res)" >
          <div class="description">
            <h2>{{res.r_tipo}}</h2>
            <p>{{res.r_datetime  }}</p>
          </div>
          <ion-note class="deduction_balance" item-end>{{res.r_valor}} Bs</ion-note>
        </button>
   
    </ion-list>
  </div>

    <div [hidden]="opt !== 'suscripcion'" >
    <ion-list padding no-margin >

        <ion-list-header no-margin>
          Más recientes
        </ion-list-header>
        <button ion-item *ngFor="let res of datos" (tap)="gotoDetalle(res)" >
          <div class="description">
            <h2>{{res.r_plan}}</h2>
            <p>{{res.r_datetime }}</p>
          </div>
          <ion-note class="deduction_balance" item-end>{{res.r_valor}} Bs</ion-note>
        </button>
   
    </ion-list>
  </div>
</ion-content>
