<ion-header>

  <ion-navbar color=primary>
    <ion-title>Olvidé mi contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="forgotpassword">
    <div class="image_section">
      <img src="assets/img/forgotpassword.svg" alt="">
    </div>
    <div class="input_section">
      <h3>Olvidaste tu contraseña?</h3>
      <p>Se enviarán las indicaciones al correo registrado</p>
      <div class="input_area">
      <ion-icon name="md-mail"></ion-icon>
      <input type="email" placeholder="Correo Registrado" [(ngModel)]="correo" name="correo">
    </div>
    <!--<button ion-button full color=primary margin-top (tap)="gotootpconfirm()">-->
    <button ion-button full color=primary margin-top (tap)="gotoConfirm(correo)">
      Enviar
    </button>
    </div>
  </div>
</ion-content>
