<ion-content padding>
  <div class="center_screen">
    <img class="logo" src="assets/img/logo_letras.png" alt="Logo" style="width: 20rem;">

    <h3 style="text-align: center;
    color: gray;">Soluciones reales, para problemas legales</h3>
    
    <br><br><br><br><br><br><br><br><br>
    
    
  </div>
  <ion-footer>
      <button (tap)="gotologin(1)" style="height: 100px;" ion-button icon-left color=azullegal>
        <!--<ion-icon name="logo-googleplus"></ion-icon>-->
         <!--PERSONA NATURAL-->
         Haz tu consulta 
      </button>
      
      <button (tap)="gotologin(2)" style="height: 100px;" ion-button icon-left color=rojolegal>
        <!--<ion-icon name="logo-facebook"></ion-icon>-->
        <!--PROFESIONAL-->
        Soy abogado 
      </button>


  </ion-footer>
</ion-content>
