
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title>Mi cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid no-padding class="available_blance">
    <ion-row no-padding>
      <ion-col>
        <ion-card>
          <ion-card-header color=primary>
            {{saldo}} Bs
          </ion-card-header>

          <ion-card-content color=dark>
            Total por servicios
          </ion-card-content>
        </ion-card>
       
          
        <!--<ion-list padding no-margin>
          <ion-list-header no-margin>
          Más recientes
          </ion-list-header>
          
          <button ion-item >
            <ion-icon color="primary" name="add" item-left></ion-icon>
            <div class="description" (tap)="gotoLista('ingreso')">
              <h2>Ingresos por servicios</h2>
              <p>Detalle de los pagos obtenidos</p></div>
          </button>
        
          <button ion-item >
            <ion-icon color="primary" name="add" item-left></ion-icon>
            <div class="description" (tap)="gotoLista('abonos')">
              <h2>Monetizaciones</h2>
              <p>Hacer efectivo tus servicios</p></div>
          </button>
        
          <button ion-item >
            <ion-icon color="primary" name="book" item-left></ion-icon>
            <div class="description" (tap)="gotoLista('suscripcion')">
              <h2>Suscripciones</h2>
              <p>Historial de suscripciones </p></div>
          </button>
        </ion-list>
        <ion-list class="searchbar_area">
          <ion-item>
            <ion-searchbar></ion-searchbar>
          </ion-item>
        </ion-list>-->
      </ion-col>
      
    </ion-row>
  </ion-grid>

       <ion-list padding no-margin>
          <ion-list-header no-margin>
          Detalles
          </ion-list-header>
          
          <button ion-item (tap)="gotoLista('ingreso')">
            <ion-icon color="primary" name="briefcase" item-left></ion-icon>
            <div class="description" >
              <h2>Ingresos por servicios</h2>
              <p>Detalle de los pagos obtenidos</p></div>
          </button>
        
          <button ion-item (tap)="gotoLista('abono')">
            <ion-icon color="primary" name="cash" item-left></ion-icon>
            <div class="description" >
              <h2>Monetizaciones</h2>
              <p>Hacer efectivo tus servicios</p></div>
          </button>
        
          <button ion-item (tap)="gotoLista('suscripcion')">
            <ion-icon color="primary" name="contact" item-left></ion-icon>
            <div class="description" >
              <h2>Suscripciones</h2>
              <p>Historial de suscripciones </p></div>
          </button>

          <button ion-item (tap)="showdiv()">
            <div class="description" >
              <h2>¿Quieres saber cómo te pagamos? <ion-icon name="ios-arrow-down"></ion-icon></h2>
              </div>
          </button>

          <div *ngIf="show == 1" >
            <ion-row>
              <ion-col>Transacción Fee</ion-col>
              <ion-col>6,0%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Impuestos</ion-col>
              <ion-col>16,5%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Comisión LegalApp</ion-col>
              <ion-col>7,5%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Ganancia</ion-col>
              <ion-col>70%</ion-col>
            </ion-row>
          </div>
        </ion-list>
  <!--<div class="profile_status">
      <ion-segment [(ngModel)]="profile">
        <ion-segment-button value="in">
          Ingresos
        </ion-segment-button>
        <ion-segment-button value="out">
          Cobros
        </ion-segment-button>

      </ion-segment>
  </div>

   <div [ngSwitch]="profile">
    <ion-list padding no-margin *ngSwitchCase="'in'" class="in">

        <ion-list-header no-margin>
          Más recientes
        </ion-list-header>
        <button ion-item >
          <div class="description">
            <h2>Pregunta Express 1140</h2>
            <p>3:40p.m | 18.5.2017</p>
          </div>
          <ion-note class="deduction_balance" item-end>30 Bs</ion-note>
        </button>
        <button ion-item>
          <div class="description">
            <h2>Pregunta Express 1142</h2>
            <p>1:40p.m | 17.5.2017</p>
          </div>
          <ion-note class="deduction_balance" item-end>30 Bs</ion-note>
        </button>
        <button ion-item>
          <!-<ion-avatar item-left>
            <img src="assets/img/user3.jpg">
          </ion-avatar>
          <div class="description">
            <h2>Pregunta directa 258</h2>
            <p>3:40p.m | 18.5.2017</p>
          </div>
          <ion-note class="deduction_balance" item-end>75 Bs</ion-note>
        </button>
        <button ion-item>
          
          <div class="description">
            <h2>Pregunta Express</h2>
            <p>3:40p.m | 18.5.2017</p>
          </div>
          <ion-note class="deduction_balance" item-end>30 Bs</ion-note>
        </button>
   
    </ion-list>

    <ion-list padding no-margin *ngSwitchCase="'out'" class="out">
        <ion-list-header no-margin>
          Más recientes
        </ion-list-header>
        <button ion-item >
          <div class="description">
            <h2>Retiro de crédito</h2>
            <p>3:40p.m | 18.5.2017</p>
          </div>
          <ion-note class="deduction_balance" item-end>300 Bs</ion-note>
        </button>
  
    </ion-list>
   </div>-->
  
</ion-content>
