<!--
  Generated template for the ExamendetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title>{{data.e_titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="{{data.e_imagen}}"/>
    <ion-card-content>
      <ion-card-title>
        {{data.e_titulo}}
        </ion-card-title>
      <p>
        {{data.e_descripcion}}
      </p>

      <!--<span item-left>18 min</span>-->

      <br>
      <ion-list>
        <ion-list-header>
          Detalle
        </ion-list-header>
        <ion-item>Intentos  <span class="info"> 0 </span></ion-item>
        <ion-item>Nota Actual <span class="info"> {{data.detalle_intento.nota_obtenida}}</span></ion-item>
        <ion-item>Fecha <span class="info"> {{data.detalle_intento.fecha_intento}} </span></ion-item>
      </ion-list>

      <button ion-button margin-top full color="rojolegal" round (tap)="cursar()">Cursar</button>
    </ion-card-content>
  </ion-card>
</ion-content>
