<ion-header>

  <ion-navbar color="primary">
    <ion-title>Calificar Servicio</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="white" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <form id="form" class="list" (ngSubmit)="calificar(data)">

  <div class="imagen">
      <ion-avatar item-start>
        <img *ngIf="data2.foto_prof!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{data2.foto_prof}}"/>
        <img *ngIf="data2.foto_prof=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
      </ion-avatar>

      <h2> {{data2.nombre_prof}} {{data2.apellido_prof}} </h2>

  </div>

  <div class="star">
     <div class="list">
        <div class="rate" > 
          <span   *ngFor="let starValue of rating" (tap)="rate(starValue.id)" name="starValue" [ngClass]="starValue.val? 'star active':'star star0' "> </span>
        </div>
      </div>
  </div>
  
  <div class="text" >
    <ion-textarea no-margin rows="4" id="comentario" [(ngModel)]="data.comentario" name="comentario" placeholder="Ingresa tu comentario, valora la atención del profesional..." ></ion-textarea>
  </div>

  <button ion-button full color="primary" round>Calificar</button>
 </form>

</ion-content>
