<!--
  Generated template for the WalletprodetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=danger>
    <ion-title>Detalles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div >
    <ion-list *ngIf="datos.opt == 'suscripcion' ">
      <ion-item>

        <h2>Plan: {{datos.r_plan}}</h2>
      </ion-item>
    </ion-list>
    <ion-list class="account_details">
      <div *ngIf="datos.opt == 'suscripcion' ">
        <ion-item >
          <p item-left>No transacción</p>
          <p>{{datos.r_referencia}}</p>
        </ion-item>
      </div>
      <div *ngIf="datos.opt == 'ingreso' ">
        <ion-item >
          <p item-left>No transacción</p>
          <p>{{datos.id_log}}</p>
        </ion-item>
      </div>
      <ion-item>
        <p item-left>Tipo de pago</p>
        <p>{{datos.r_tipo}}</p>
      </ion-item>
      <!--<ion-item>
        <p item-left>Estado</p>
        <p>{{datos}}</p>
      </ion-item>-->
      <ion-item>
        <p item-left>Fecha / Hora</p>
        <p>{{datos.r_datetime  }}</p>
      </ion-item>

    </ion-list>

    <ion-list>
      <ion-item>
        <p item-left>Monto</p>
        <p class="blance">{{datos.r_valor}} Bs</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
