<!--
  Generated template for the ExamenhistorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojolegal">
    <ion-title>Historial</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let data of examen">

  <ion-item>
    <ion-avatar item-start>
      <img src="{{data.e_imagen}}">
    </ion-avatar>
    <h2>{{data.e_titulo}}</h2>
    <p>{{data.especialidad}}</p>
  </ion-item>


  <img *ngIf="data.calificacion > 7"  src="assets/img/exa-ok.jpg">
  <img *ngIf="data.calificacion <= 7"  src="assets/img/exa-error.png">

  <ion-card-content>
    <!--<h3>{{data.especialidad}}</h3>-->
    <p>{{data.e_descripcion}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="list"></ion-icon>
        <div>{{data.calificacion}} Calificación </div>
      </button>
    </ion-col>
    <ion-col>
      
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        {{data.fecha_intento}}
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>

</ion-content>
