<!--
  Generated template for the Wallet page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=primary>
    <ion-title>Mi cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid no-padding class="available_blance">
    <ion-row no-padding>
      <ion-col>
        <ion-card>
          <ion-card-header color=primary>
            <div *ngIf="!datos" > {{saldo}}.00 Bs</div>
            <div *ngIf="datos" > {{datos[0].r_saldo}}.00 Bs</div>
            
          </ion-card-header>

          <ion-card-content color=dark>
            Disponible para servicios
          </ion-card-content>
        </ion-card>
        <ion-list>
          <button ion-item (tap)="recarga()">
            <ion-icon color="primary" name="add" item-left></ion-icon>
            Recargar
          </button>
        </ion-list>
        <!--<ion-list class="searchbar_area">
          <ion-item>
            <ion-searchbar></ion-searchbar>
          </ion-item>
        </ion-list>-->
      </ion-col>
      
    </ion-row>
  </ion-grid>

    <div class="profile_status">
      <ion-segment [(ngModel)]="profile">
        <ion-segment-button value="in">
          Recargas
        </ion-segment-button>
        <ion-segment-button value="out">
          Débitos
        </ion-segment-button>

      </ion-segment>
  </div>

   <div >
    <ion-list padding no-margin [hidden]="profile !== 'in'" class="in">
          <ion-list-header no-margin>
            Más recientes
          </ion-list-header>
          <button *ngFor="let pago of datos " ion-item (click)="gotowalletdetails(pago)">
            <div class="description">
              <h2>{{pago.r_detalleTransac}}</h2>
              <p>{{pago.r_datetime | fechas: "long"}}</p> 
            </div>
            <ion-note class="deduction_balance" item-end>{{sumar(pago.r_valortransacdirecta ,pago.r_valortransacexpress)}} Bs</ion-note>
          </button>
          
          <div *ngIf="!datos" class="errorNoData">
            <p>Aún no tienes ninguna transacción</p>
            <img src="assets/img/img_error.png" style="width: 20rem;">
          </div>
          
    </ion-list>

    <ion-list padding no-margin [hidden]="profile !== 'out'" class="out">
          <ion-list-header no-margin>
            Más recientes
          </ion-list-header>
          <button *ngFor="let pago of datosDebito " ion-item (click)="gotowalletdetails(pago)">
            <div class="description">
              <h2>Servicio: {{pago.titulo_pregunta}}</h2>
              <p>{{pago.deb_fecha | fechas: "long"}}</p>
            </div>
            <ion-note class="deduction_balance" item-end>{{pago.deb_cantidad}} Bs</ion-note>
          </button>
          
          <div *ngIf="!datos" class="errorNoData">
            <p>Aún no tienes ninguna transacción</p>
            <img src="assets/img/img_error.png" style="width: 20rem;">
          </div>  
  
    </ion-list>
   </div>

</ion-content>
