page-cotizacionpro {

ion-item{
  p{
        white-space: normal;
  }    
}
 .imagen{
    text-align: center;
    display: inline-block;
    // margin-left: 20%;
    width: 100%;
    text-align: center;
    img {
      border-radius: 100%;
      width: 100%;
    }
  }

  .la_texto{
      text-align: center;
      width: 100%;
  }

  hr.style1{
	border-top: 1px solid #8c8b8b;
    }
    .text {
      border: 1px solid map_get($colors, lightdark) !important;
      padding: map_get($padding, eighteen);
      border-radius: map_get($radius, medium);
      min-height: map_get($height, large);
      .text-input-wp {
        width: 100%;
        border: 0;
      }
      ion-textarea {
        transition: all 0.3s ease;
        textarea {
          margin: 0;
          width: 100%;
        }
      }
    }
}
