<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cotización </ion-title>
   
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<div class="imagen pro" >
    <ion-avatar item-start>
      <img src="assets/img/avatar.png">
    </ion-avatar> 
  </div>-->

  <ion-item >
      <ion-avatar item-left *ngIf="datos.privacidad==0">
        <img *ngIf="datos.u_imagen!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.u_imagen}}"/>
        <img *ngIf="datos.u_imagen=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
          
      </ion-avatar>
      <ion-avatar item-left *ngIf="datos.privacidad==1">
        <img src="assets/img/avatar.png"/>
          
      </ion-avatar>
      <h2 *ngIf="datos.privacidad==0"> {{datos.u_nombre}} {{datos.u_apellido}}</h2>
      <h2 *ngIf="datos.privacidad==1"> Anónimo</h2>
      <p><strong> {{datos.c_titulo}} </strong> "{{datos.c_descripcion}}"</p>
  </ion-item> 

  <ion-item>
    <ion-icon color="primary" name="time" item-left></ion-icon>
    <p>{{datos.c_fechainicio  | fechas: "long"}}</p>
    <!--<p>{{datos.c_fechainicio | date:'EEEE dd/MM/yy ':'':'es-BO'}}</p>-->
  </ion-item>
  <ion-item>
    <ion-icon color="primary" name="time" item-left></ion-icon>
    <p>{{datos.c_fechafin  | fechas: "long"}}</p>
  </ion-item>

  <!--<div class="imagen">
      <ion-avatar item-start style="display: inline-block;">
        <img *ngIf="datos.u_imagen!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.u_imagen}}"/>
        <img *ngIf="datos.u_imagen=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
          
      </ion-avatar>
  </div>

  <br>

  <div class="la_texto">
    <strong> {{datos.u_nombre}} {{datos.u_apellido}}</strong>
    <br><br>
     <strong> {{datos.c_titulo}} </strong> "{{datos.c_descripcion}}"

  </div> -->
  
  
  
  <form id="form" class="list" (ngSubmit)="responder(datos)">
  
    <ion-item>
      <ion-label>Urgencia: </ion-label>
      <ion-input [(ngModel)]="datos.c_nivel" name="c_nivel" type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Precio (Bs): </ion-label>
      <ion-input [(ngModel)]="datos.precio" name="precio" type="number" ></ion-input>
    </ion-item>

<bR>
     <div class="text" >
     <ion-textarea clearInput autocomplete="on" no-margin rows="4" id="respuesta" [(ngModel)]="datos.respuesta" name="respuesta" placeholder="Ingresa la respuesta a la solicitud..." ></ion-textarea>
    </div>



   
       
   <br>

 <BR>
  <button ion-button  full color="primary" round>Enviar cotización</button>
</form>
</ion-content>