<!--
  Generated template for the ModalmsgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content (tap)="regresar()" padding style=" background: rgba(46, 105, 150, 0.5);">

 <div style="width: 100%;" >
   <ion-icon name="md-close-circle" color="bg"  style="float:right;font-size: 2.4em;"  ></ion-icon>  
 </div>

  <div class="msj">

    <div class="header"> 
      {{datos.titulo}}
    </div>
    <div class="txt">
      {{datos.cuerpo}}
    </div>

    <div class="btn" *ngIf="datos.opt == '1' ">
    <button ion-button  round full color=danger (tap)="gotoPerfil()" >ADQUIRIR PLAN PREMIUM </button>
    </div>
  </div>
</ion-content>
