page-modalmsg {

    .msj{

        background-color: white;
        border-radius: 10px;
        margin: 70px 10px;
        // padding: 10px;
        color: gray;
        height: 50%;
        display: inline-block;
        .header{
            background-color: grey;
            color: white;
            font-size: 2.5rem;
            height: 50px;
            padding: 15px 5px;
            font-weight: 100;
            text-align: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px
        }

        .txt{
            font-size: 2.0rem;
            font-weight: 100;
            text-align: center;
            padding: 10px;

        }
        .btn{
            padding: 30px;
        }
    }
}
