<ion-header>

  <ion-navbar color=primary>
    <!--<div *ngIf="datos.p_privacidad == 1" >
           <ion-title>Anónimo</ion-title>
    </div>
    <div *ngIf="datos.p_privacidad == 0" >
           <ion-title>{{datos.p_usuarioapp}} </ion-title>
    </div>-->
    
  </ion-navbar>

</ion-header>


<ion-content>

  <form *ngIf="tipo==1" id="form" class="list" (ngSubmit)="responder(data)">
    <div class="message">
      <ol class="chat">
        
        <!--<li class="self">
          <div class="avatar"><img src="assets/img/user3.jpg"/></div>
          <div class="msg">
            <div class="arrow-right"></div>
            <p><strong> </strong></p>
            <div class="msg_details">
              <time></time>
            </div>
          </div>
        </li>-->

        <li class="other">
          <div class="avatar">
            <div *ngIf="datos.p_privacidad == 1" >
              <img src="assets/img/avatar.png"/>
            </div>
            <div *ngIf="datos.p_privacidad == 0" >
              <div *ngIf="tipo==1">
                <img *ngIf="datos.u_foto!='' " src="{{datos.u_foto}}"/>
                <img *ngIf="datos.u_foto=='' " src="assets/img/avatar.png"/>
              </div>
              <div *ngIf="tipo==2">
                <img *ngIf="datos.u_imagen!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.u_imagen}}"/>
                <img *ngIf="datos.u_imagen=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
              </div>
            </div>
          </div>
          <div class="msg">
            <div class="arrow-left"></div>
            <p><strong>{{datos.p_titulo}}</strong> {{datos.p_contenido}}</p>
            <div class="msg_details">
              <time>{{datos.p_fecha | fechas: "long"}}</time>
            </div>
          </div>
        </li>
        
          <!--las respuestas-->
        <div *ngFor="let data of respuestas;let i = index">
          <div *ngIf="i%2===0" >
            <li class="self" >
              <div class="avatar"><img src="{{n_foto}}"/></div>
              <div class="msg">
                <div class="arrow-right"></div>
                <p>{{data.contenido}}</p>
                <div class="msg_details">
                  <time>{{data.datetime | fechas: "long"}}</time>
                </div>
              </div>
            </li>

            <div *ngIf="respuestas[i + 1]">
              <li class="other">
                <div class="avatar" *ngIf="datos.p_privacidad == 1">
                  <img *ngIf="datos.p_privacidad == 1" src="assets/img/avatar.png"/>
                </div>
                <div class="avatar" *ngIf="datos.p_privacidad == 0">
                  <img *ngIf="datos.u_foto!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.u_foto}}"/>
                  <img *ngIf="datos.u_foto=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
                </div>
                <div class="msg">
                  <div class="arrow-left"></div>
                  <p> {{respuestas[i+1].contenido}}</p>
                  <div class="msg_details">
                    <time>{{respuestas[i+1].datetime | fechas: "long"}}</time> 
                  </div>
                </div>
              </li>  
            </div>  
          </div>      
        </div>
    
      </ol>

      <div class="footchat" *ngIf="!formDisabled">      

          <div style="width:100%;color: #ea4949;    font-style: italic;    padding: 14px;">
            {{tiempoRestante}}
          </div>
      </div>

    </div>

    <div class="reply_input">
      <div class="input_area">
        <ion-textarea no-margin name="p_contenido" [disabled]='formDisabled' [(ngModel)]="data.respuesta" placeholder="Enviar respuesta" (input)="changetextarea()" id="messageInputBox"></ion-textarea>

        <div class="right_arrow"></div>
      </div>
      <button [disabled]='formDisabled' ion-button >
        <ion-icon name="ios-send"></ion-icon>
      </button>
    </div>
  </form>

  <form *ngIf="tipo==2" id="form" class="list" (ngSubmit)="responder(data)">
    <div class="message">
      <ol class="chat">
      
      <!--<li class="self">
        <div class="avatar"><img src="assets/img/user3.jpg"/></div>
        <div class="msg">
          <div class="arrow-right"></div>
          <p><strong> </strong></p>
          <div class="msg_details">
            <time></time>
          </div>
        </div>
      </li>-->

      <li class="other">
        <div class="avatar">
          <div *ngIf="datos.p_privacidad == 1" >
            <img src="assets/img/avatar.png"/>
          </div>
          <div *ngIf="datos.p_privacidad == 0" >
              <img *ngIf="datos.u_imagen!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.u_imagen}}"/>
              <img *ngIf="datos.u_imagen=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
          </div>  
        </div>
        <div class="msg">
          <div class="arrow-left"></div>
          <p><strong>{{datos.p_titulo}} </strong> {{datos.p_contenido}}</p>
          <div class="msg_details">
            <time>{{datos.p_datetime | fechas: "long"}}</time>
          </div>
        </div>
      </li>

          <!--las respuestas-->
        <div *ngFor="let data of respuestas;let i = index">
          <div *ngIf="i%2===0" >
            <li class="self" >
              <div class="avatar"><img src="{{n_foto}}"/></div>
              <div class="msg">
                <div class="arrow-right"></div>
                <p>{{data.contenido}}</p>
                <div class="msg_details">
                  <time>{{respuestas[i].datetime | fechas: "long"}}</time>
                </div>
              </div>
            </li>

            <div *ngIf="respuestas[i + 1]">
              <li class="other">
                <div class="avatar">
                  <img *ngIf="datos.u_imagen!='http://legalbo.com/legalapp/IMGUSERS/' " src="{{datos.u_imagen}}"/>
                  <img *ngIf="datos.u_imagen=='http://legalbo.com/legalapp/IMGUSERS/' " src="assets/img/avatar.png"/>
                
                </div>
                <div class="msg">
                  <div class="arrow-left"></div>
                  <p> {{respuestas[i+1].contenido}}</p>
                  <div class="msg_details">
                    <time>{{respuestas[i+1].datetime | fechas: "long"}}</time>  
                  </div>
                </div>
              </li>  
            </div>  
          </div>      
        </div>
      
  
      </ol>

      <div class="footchat" *ngIf="!formDisabled">      

          <div style="width:100%;color: #ea4949;    font-style: italic;    padding: 14px;">
            {{tiempoRestante}}
          </div>
      </div>

    </div>

    <div class="reply_input">
      <div class="input_area">
        <ion-textarea no-margin name="p_contenido" [disabled]='formDisabled'  [(ngModel)]="data.respuesta" placeholder="Enviar respuesta" (input)="changetextarea()" id="messageInputBox"></ion-textarea>

        <div class="right_arrow"></div>
      </div>
      <button ion-button [disabled]='formDisabled' >
        <ion-icon name="ios-send"></ion-icon>
      </button>
    </div>
  </form>
</ion-content>
