page-signup {
  ion-content {
    background-image: url("../assets/img/back.png");
    background-size: cover;
    display: flex;
    .scroll-content {
      display: flex;
      .center_screen {
        margin: auto;
        width: 100%;
        .input_area {
          display: flex;
          background-color: #fff;
          border-radius: 60px;
          height: map_get($height, btnheight);
          overflow: hidden;
          margin-bottom: map_get($margin, small);
          ion-icon {
            margin: auto;
            padding: 0 16px;
            color: map_get($colors, lightdark);
            font-size: map_get($font, small);
          }
          input {
            border: 0;
            flex: 1;
            background-color: transparent;
            margin: auto;
            height: map_get($height, btnheight);
            font-size: map_get($font, medium);
          }

          input::-webkit-input-placeholder {
            color: map_get($colors, lightdark) !important;
            font-size: map_get($font, bitsmall) !important;
          }

          input:-moz-placeholder { /* Firefox 18- */
            color: map_get($colors, lightdark) !important;
            font-size: map_get($font, bitsmall) !important;
          }

          input::-moz-placeholder { /* Firefox 19+ */
            color: map_get($colors, lightdark) !important;
            font-size: map_get($font, bitsmall) !important;
          }

          input:-ms-input-placeholder {
            color: map_get($colors, lightdark) !important;
            font-size: map_get($font, bitsmall) !important;
          }
          .select-placeholder{
            color: map_get($colors, lightdark);
            font-size: map_get($font, bitsmall);
          }
          .datetime {
            flex: 1;
            padding-left: 0;
            font-size: map_get($font, small);
            margin: auto;
            .datetime-placeholder {
              font-size: map_get($font, bitsmall);
              color: map_get($colors, lightdark)
            }
          }
          .datetime-wp {
            padding: inherit;
            .datetime-text{
              border-width: 0;
            }
          }
          .select-wp{
            border-width: 0;
          }
          ion-select {
            max-width: 100%;
            padding: 0;
            margin: auto 0;
            padding-right: 16px;
            flex: 1;
            //font-size: map_get($font, bitsmall);
            //color: map_get($colors, lightdark);
            .select-text {
              margin: auto;
            }
            .select-icon {
              display: none;
            }
            ion-option {
              font-size: map_get($font, small);
            }
          }

        }
        [ion-button] {
          float: left;
        }
        .pro-pic-change {
          height: map_get($height, propic);
          width: map_get($width, propic);
          position: relative;
          border-radius: 100%;
          margin: auto auto map_get($margin, medium) auto;
          .button {
            position: absolute;
            bottom: 10px;
            right: 5px;
            font-size: 13px;
            height: map_get($height, btnheight);
            width: map_get($width, btnwidth);
            z-index: 2;
            background-color: white;
            padding: 0;
          }

          .image {
            z-index: 1;
            position: relative;
            height: map_get($height, propic);
            width: map_get($width, propic);
            border-radius: 100%;
            overflow: hidden;
            border: 1px solid rgba(51, 51, 51, 0.39);
            img {
              max-width: 100%;
            }
          }

        }

      }
      .checkbox-md .checkbox-icon{
        width: 22px;
        height: 22px;
        border-width: 4px;
      }

    }
    p{
      padding: 7px;
      font-size: 17px;
      font-weight: lighter;
      text-align: center;
      span{
        color:  map_get($colors, facebook);
      }
    }
  }
}
scroll-content {
    position:relative;
}





