<ion-header>

  <ion-navbar color=primary *ngIf="tipo == 1">
    <ion-title >Registro de Usuario</ion-title>
  </ion-navbar>
  <ion-navbar color=danger *ngIf="tipo == 2">
    <ion-title >Registro de Abogado</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="center_screen">

    <!--<div class="pro-pic-change">
      <div class="image">
        <img [src]="base64Image" *ngIf="base64Image"/>
      </div>
      <button ion-button round outline color=primary (tap)="changeprofilepic()">
      <ion-icon name="md-camera"></ion-icon>
      </button>
    </div>-->
    <form id="form" class="list" (ngSubmit)="registrar(data)">
      <div class="input_area">
        <ion-icon name="md-person"></ion-icon>
        <input type="text" placeholder="Nombres"  name="nombre" [(ngModel)]="data.nombre" >
      </div>
      <div class="input_area">
        <ion-icon name="md-person"></ion-icon>
        <input type="text" placeholder="Apellidos" [(ngModel)]="data.apellido" name="apellido" >
      </div>
      <div class="input_area">
        <ion-icon name="md-mail"></ion-icon>
        <input type="text" autocapitalize=“none” placeholder="Correo" [(ngModel)]="data.correo" name="correo">
      </div>

      <div *ngIf="tipo==1">
        <div class="input_area">
          <ion-icon name="md-call"></ion-icon>
          <input type="number" placeholder="Teléfono" [(ngModel)]="data.celular" name="celular">
        </div>
      </div>
      
      <!--<div *ngIf="tipo==2">-->
        <!--<div class="input_area">
          <ion-icon name="ios-photos"></ion-icon>
          <input type="number" placeholder="Carnet (sin ciudad de origen) Ej: 4718223" [(ngModel)]="data.carnet" name="carnet">
        </div>-->
      <!--</div>-->

      <!--<div class="input_area">
        <ion-icon name="ios-man"></ion-icon>
        <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Date of Birth"></ion-datetime>
      </div>-->

      <!--<div class="input_area">
        <ion-icon name="md-male"></ion-icon>
        <ion-select interface="action-sheet" placeholder="Seleccione genero">
          <ion-option>Hombre</ion-option>
          <ion-option>Mujer</ion-option>
        </ion-select>
      </div>-->

      <div class="input_area">
        <ion-icon name="md-lock"></ion-icon>
        <input type="password" placeholder="Contraseña" [(ngModel)]="data.password" name="password">
      </div>
      <!--<div class="input_area">
        <ion-icon name="md-lock"></ion-icon>
        <input type="password" placeholder="Confirmar Contraseña" [(ngModel)]="data.password2" name="password2">
      </div>-->

      <p>
        <ion-checkbox color="dark" checked="false" [(ngModel)]="data.terms" name="terms"></ion-checkbox> 
        Acepto los <span (tap)="terminos()">  Términos y Condiciones de Uso y Políticas de Privacidad </span>
      </p>
      <button ion-button margin-top full color="primary" [ngClass]="(tipo=='1')?'logUser':'logPro'" round >Registrarse</button>
    </form>
  </div>

</ion-content>
