<ion-header>

  <ion-navbar color="primary">
    <ion-title> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form id="form" class="list" (ngSubmit)="preguntar(data)">

    <div class="msj" *ngIf="consultaTipo==2">
      <div class="titulo_secciones">
        <h2>Pregunta directa a: <br> {{profesional}} </h2>
      </div>
      
      <br> 
      <ion-item class="lg_txt" no-padding>
        <ion-input type="text"  maxlength="100" no-margin id="pd_titulo" [(ngModel)]="data.pd_titulo" name="pd_titulo" class="titulo"  placeholder="Titulo de tu consulta..." ></ion-input>
      </ion-item>
      <br>
      <ion-item no-padding>
        <ion-textarea maxlength="1000" no-margin rows="4" (input)="change()" id="pd_descripcion" [(ngModel)]="data.pd_descripcion" name="pd_descripcion" placeholder="Describe tu consulta..." ></ion-textarea>
      </ion-item>
      <div class="txt"> 
        <span >  ({{1000 - data.pd_descripcion.length}}) </span>
      </div>
      <p>
        El precio de la consulta de este abogado es de Bs. {{valor}}
      </p>
    </div> 
  <!--si es cotización lleva este detalle-->
  <div *ngIf="consultaTipo==1">
    <div class="titulo_secciones">
      <h2>Cotización a: <br> {{profesional}} </h2>
    </div>
    
    <ion-item>
      <ion-textarea no-margin rows="2" id="pd_titulo" [(ngModel)]="data.pd_titulo" name="pd_titulo" class="titulo" style="height: 35px;" placeholder="Título del servicio a cotizar..." ></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-textarea no-margin rows="4" (input)="change()" id="pd_descripcion" [(ngModel)]="data.pd_descripcion" name="pd_descripcion" placeholder="Describe el servicio a cotizar..." ></ion-textarea>
    </ion-item>
      <div class="txt"> 
        <span >  ({{1000 - data.pd_descripcion.length}}) </span>
      </div>
    <ion-item>
      <ion-label>Fecha de inicio</ion-label>
      <ion-datetime [(ngModel)]="data.c_iniciof" name="c_iniciof" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" ></ion-datetime>
    </ion-item>
   <ion-item>
      <ion-label>Fecha de fin</ion-label>
      <ion-datetime  [(ngModel)]="data.c_finf" name="c_finf" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" ></ion-datetime>
    </ion-item>
    <div ion-item>
      <ion-label>Prioridad</ion-label>
      <ion-select [(ngModel)]="data.id_nivelp" name="id_nivelp">
        <ion-option value="1">Baja</ion-option>
        <ion-option value="2">Media</ion-option>
        <ion-option value="3">Alta</ion-option>
      </ion-select>
    </div>

    
  </div>
   
   <br>

   <!--<div class="privacidad">
  <ion-toggle checked="false" [(ngModel)]="data.p_privacidadform" name="p_privacidadform"></ion-toggle>
  <span>  Consulta Anónima</span>
   </div>-->
  <ion-item class="noborder">
    <ion-label>Consulta Anónima</ion-label>
    <ion-toggle  checked="false" [(ngModel)]="data.p_privacidadform" name="p_privacidadform"></ion-toggle>
  </ion-item>

 <BR>
  <button *ngIf="consultaTipo==2" ion-button  margin-top full round color=danger >Enviar Consulta</button>
  <button *ngIf="consultaTipo==1" ion-button  margin-top full round color=danger >Solicitar Cotización</button>
</form>
</ion-content>