page-consulta {

 .scroll-content {
    .item-inner  {
      .text-input-wp {
        width: 100%;
        border: 0;
      }
      
      padding: map_get($padding, eighteen);
      border-radius: map_get($radius, medium);
      min-height: map_get($height, large);
      // border: 1px solid map_get($colors, lightdark) !important;
      ion-textarea {
        transition: all 0.3s ease;
        textarea {
          margin: 0;
          width: 100%;
        }
      }
    }

    ion-avatar {
      margin: 0 8px 0 0 !important;
      align-self: flex-start;
      border-radius: 100%;
    }
 }
    .imagen{
        text-align: center;
        display: inline-block;
    }
    .msj{
        p{
            text-align: center;
            font-style: italic;
            color: gray;
        }
    }
    ion-item{
        ion-label{
            // text-align: right;
            font-size: 1.4rem;
        }
    }
   .txt{
      font-style: italic;
      color: gray;
      width: 100%;
      text-align: right;
    }
    // ion-textarea {
    //     border: 1px solid map_get($colors, lightdark) !important;
    //     border-radius: 3px;
    //     transition: all 0.3s ease;
    //     textarea {
    //       margin: 0;
    //       width: 100%;
    //     }.titulo{
    //         height: 20px;
    //         padding-top: 5px;   
    //     }
    //   }
    .post_btn {
      width: 100%;
    }
}


.privacidad{
    margin: 5px;
    display: inline-block;
}