<ion-header>
  <!--<ion-toolbar color="primary">-->
  <!--<ion-buttons *ngIf="!paginaOrigen" left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-buttons>-->

  <ion-navbar color="primary">
    <ion-title>Consulta Express</ion-title>


    <ion-buttons *ngIf="!paginaOrigen" end right>
        <button ion-button icon-only (tap)="cerrar()">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>      
  </ion-navbar>


  <!--</ion-toolbar>-->
</ion-header>


<ion-content padding>
  <form id="form" class="list" (ngSubmit)="preguntar(data)">
    <ion-item no-padding class="itemcorto">
      <ion-avatar item-start>
        <img  src="{{n_foto}}"  >
      </ion-avatar>
      <ion-textarea maxlength="70"  no-margin rows="2" id="p_titulo" [(ngModel)]="data.p_titulo" name="p_titulo" class="titulo" style="height: 15px;" placeholder="Título de tu consulta..." ></ion-textarea>
      
    </ion-item>
    <br>
    <ion-item no-padding>
     
      <ion-textarea maxlength="1000" no-margin rows="1" (input)="change()" id="p_contenido" name="p_contenido" [(ngModel)]="data.p_contenido" placeholder="Ingresa tu consulta..." ></ion-textarea>
    
    </ion-item>
      <div class="msj">
      <span> ({{1000 - data.p_contenido.length}}) </span>
      <p>
        Te sugerimos que al momento de elaborar el texto de tu pregunta, evites escribir nombres propios y/o empresas. 
        <br>
        <span class="negrita">El precio de la consulta express es de Bs. 35</span>
      </p>
    </div> 
    <!--<ion-item class="check">
        <ion-label>Consulta Anónima</ion-label>
        <ion-toggle checked="false" [(ngModel)]="data.p_privacidad" name="p_privacidad"></ion-toggle>
    </ion-item>-->
    <!--<br>
        Consulta Anónima<ion-toggle checked="false" [(ngModel)]="data.p_privacidadform" name="p_privacidadform"></ion-toggle>
    <bR>-->

    <ion-item class="privacidad" style="border:0px !important;" >
      <ion-label>Consulta Anónima</ion-label>
      <ion-toggle  checked="false" [(ngModel)]="data.p_privacidadform" name="p_privacidadform"></ion-toggle>
    </ion-item>

    <button ion-button full round color="rojolegal" >Enviar consulta</button>
  </form>
</ion-content>
