page-historial {
    .estado{
        float: right;
        
    }

    .btn_historial{
        width: 150px;
        margin-top: 41px;
        border-radius: 15px;
    }
    p{
        font-size: 1.2rem !important;
    }
    ion-app.md {
        padding: 1px !important;
    } 
    ion-app.ios [padding] {
         padding: 1px !important;
    }
    
}

.errorNoData{
    width: 100%;
    text-align: center;
    opacity: 0.3;
    p{
        font-size: 2.5rem;
        color:#031e51;
    }
}