<!--
  Generated template for the HistorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mis Preguntas</ion-title>
  </ion-navbar>


</ion-header>


<ion-content >

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tirar para actualizar"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
 
  <br>
    <div class="profile_status">
      <ion-segment [(ngModel)]="tipopregunta"  (ionChange)="segmentChanged()">
        <ion-segment-button value="exp">
          Express
        </ion-segment-button>
        <ion-segment-button value="dir"  (ionChange)="segmentChanged()">
          Directas
        </ion-segment-button>
        <ion-segment-button value="cot"  (ionChange)="segmentChanged()">
          Cotizaciones
        </ion-segment-button>
        
      </ion-segment>

    </div>
    <!--<div [ngSwitch]="profile">-->
      <ion-list padding no-margin [hidden]="tipopregunta !== 'exp'" class="exp">
        
          <ion-item *ngFor="let datos of preguntas " (tap)="gotoChat(datos, 1)">
            <div class="estado" >
              <div *ngIf="datos.p_estado==1"> 
                <button ion-button icon-left  color=lightdark class="btn_historial">
                  Por Pagar
                </button>
              </div>
            <div *ngIf="datos.p_estado==0"> 
                <button ion-button icon-left  color=rojolegal class="btn_historial">
                  Cancelada
                </button>
              </div>
              <div *ngIf="datos.p_estado==2 || datos.p_estado==6"> 
                <button ion-button icon-left  color=porResponder class="btn_historial">
                  Por responderse
                </button>
              </div>
              <div *ngIf="datos.p_estado==3 "> 
                <button ion-button icon-left  color=dark class="btn_historial">
                  Sin Respuesta
                </button>
              </div>
              <div *ngIf="datos.p_estado==4"> 
                <button ion-button icon-left  color=Recibiendo class="btn_historial">
                  Recibiendo respuesta
                </button>
              </div>
              <div *ngIf="datos.p_estado==5"> 
                <button ion-button icon-left  color=aprobado class="btn_historial">
                  Contestada
                </button>
              </div>
              <div *ngIf="datos.p_estado==7"> 
                <button ion-button icon-left  color=aprobado class="btn_historial">
                  Respondida
                </button>
              </div> 
              
            </div>
            <h2>{{datos.respuesta.p_nombre}} {{datos.respuesta.p_apellido}}</h2>
            <h3> {{datos.p_titulo}}</h3>
            <p>{{datos.p_fecha | fechas: "long" }} </p>
            <!--<p>{{datos.p_fecha | date:'EEEE dd/MM/yy HH:mm':'':'es-BO'}} </p>-->
            <p *ngIf="datos.p_compleja!=0" style="color:red;">({{datos.p_compleja}}) Marcada compleja  </p>
            
          </ion-item>
       

        <div *ngIf="!haydatos" class="fakeItem">
          <button ion-item *ngFor="let datfake of fakedatos" >
            <div class="estado" >
              <div > 
                <button ion-button icon-left  color=light class="btn_historial"></button>
              </div>
            </div>
            <h2></h2>
            <h3> </h3>
            <p> </p>
          </button>          
        </div>

        <div *ngIf="!preguntas " class="errorNoData">
          <p>Aún no tienes ninguna consulta</p>
          <img src="assets/img/img_error.png" style="width: 20rem;">
        </div>


          <!--para recargar mas preguntas express -->
        <ion-infinite-scroll (ionInfinite)="cargarMasExpress($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando ...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
  
      </ion-list>


<!--PREGUNTAS DIRECTAS-->
      <ion-list padding no-margin  [hidden]="tipopregunta !== 'dir'" class="dir">
      
        <ion-item *ngFor="let datos of preguntasDirectas" (tap)="gotoChat(datos,2)">
          <div class="estado" >
            <div *ngIf="datos.pd_estado==1"> 
               <button ion-button icon-left  color=lightdark class="btn_historial">
                Por pagar
              </button>
            </div>
           <div *ngIf="datos.pd_estado==0"> 
               <button ion-button icon-left  color=rojolegal class="btn_historial">
                Cancelada
              </button>
           </div>
           <div *ngIf="datos.pd_estado==2"> 
               <button ion-button icon-left  color=porResponder class="btn_historial">
                Por responder
              </button>
           </div>
           <div *ngIf="datos.pd_estado==4"> 
               <button ion-button icon-left  color=Recibiendo class="btn_historial">
                Recibiendo respuesta
              </button>
           </div>
           <div *ngIf="datos.pd_estado==5"> 
               <button ion-button icon-left  color=aprobado class="btn_historial">
                Contestada
              </button>
           </div>
           <div *ngIf="datos.pd_estado==6"> 
               <button ion-button icon-left  color=porResponder class="btn_historial">
                Por responderse
              </button>
           </div>
           <div *ngIf="datos.pd_estado==8"> 
               <button ion-button icon-left  color=dark class="btn_historial">
                Rechazada
              </button>
           </div>
            
          </div>
          <h2>{{datos.p_nombre}} {{datos.p_apellido}}</h2>
          <h3> {{datos.pd_titulo}}</h3>
          <p>{{datos.datetime  | fechas: "long"}} </p>
          
        </ion-item>
 
        <div *ngIf="!haydatos" class="fakeItem">
          <ion-item *ngFor="let datfake of fakedatos" >
            <div class="estado" >
              <div > 
                <button ion-button icon-left  color=light class="btn_historial"></button>
              </div>
            </div>
            <h2></h2>
            <h3> </h3>
            <p> </p>
          </ion-item>          
        </div>       
        
        <div *ngIf="!preguntasDirectas" class="errorNoData">
          <p>Aún no tienes ninguna consulta</p>
          <img src="assets/img/img_error.png" style="width: 20rem;">
        </div>

      </ion-list>

<!--COTIZACIONES-->
      <ion-list padding no-margin  [hidden]="tipopregunta !== 'cot'" class="cot">
        
        <ion-item *ngFor="let datos of preguntasCotizacion" (tap)="gotoCotizar(datos.idcotizacion,3)">
          <div class="estado" >
            <div *ngIf="datos.c_estado==1"> 
               <button ion-button icon-left  color=aprobado class="btn_historial">
                Contestada
              </button>
            </div>
           <div *ngIf="datos.c_estado==2"> 
               <button ion-button icon-left  color=rojolegal class="btn_historial">
                Rechazada
              </button>
            </div>
           <div *ngIf="datos.c_estado==0"> 
               <button ion-button icon-left  color=porResponder class="btn_historial">
                Pendiente
              </button>
            </div>
           
            
          </div>
          <h2>{{datos.p_nombre}} {{datos.p_apellido}}</h2>
          <h3> {{datos.c_titulo}}</h3>
          <p>{{datos.c_fecha  | fechas: "long" }} </p>
          
        </ion-item>


        <div *ngIf="!haydatos" class="fakeItem">
          <ion-item *ngFor="let datfake of fakedatos" >
            <div class="estado" >
              <div > 
                <button ion-button icon-left  color=light class="btn_historial"></button>
              </div>
            </div>
            <h2></h2>
            <h3> </h3>
            <p> </p>
          </ion-item>          
        </div>
        
        <div *ngIf="!preguntasCotizacion" class="errorNoData">
          <p>Aún no tienes ninguna Cotización</p>
          <img src="assets/img/img_error.png" style="width: 20rem;">
          
        </div>
      </ion-list>
    <!--</div>-->

   
</ion-content>
