page-menu {
$SIDEMENU_TOP: #f53d3d;
$SIDEMENU_BOTTOM: #656c72;
// $SIDEMENU_BOTTOM: #656c72;f53d3d
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.8);

.la_name{
    color:white;
}
.side-menu-item{
    background:none;
    color:white;
    font-weight:300;
    border:0px;
    .item-content{
        background:none;
        &.activated{
            background: $SIDEMENU_TRANSPARENCY;
        }
    }
    &.active-page-highlight{
        .item-content{
            background: $SIDEMENU_TRANSPARENCY;
        }
    }
}
// .activeHighlight{
    
//             background: $SIDEMENU_TRANSPARENCY;
       
//  }
.side-menu-gradient{
    background: -webkit-linear-gradient(bottom top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom , $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom , $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom , $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.profile-image{
    img{
        border-radius:50%;
        margin:10px;
        border: 4px solid $SIDEMENU_TRANSPARENCY;
        -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        max-height: 120px;
    }
}
}
