<ion-menu [content]='content'>

<!--<ion-header>

  <ion-navbar>
    <ion-title>menu</ion-title>
  </ion-navbar>

</ion-header>-->



<ion-content class="side-menu-gradient">
  <div class="profile-image" style="text-align: center;" >
      <img src="{{n_foto}}"  style="width: 40%;">

      <h3 class="la_name">{{n_usuario}}</h3>
  </div>
  <ion-list>
    <button class="side-menu-item" ion-item detail-none menuClose *ngFor="let p of pages" (click)="openPage(p.page)">
      <ion-icon item-start [name]="p.icon"></ion-icon>
      {{p.title}}
    </button>
  </ion-list>
</ion-content>


</ion-menu>

<ion-nav #content main [root]="rootPage"></ion-nav>

