<!--
  Generated template for the XpaisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=azullegal>
    <ion-title>Bienvenido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="center_screen">
    <img class="logo" src="assets/img/logo_letras.png" alt="Logo" style="width: 20rem;">

    <h4 style="text-align: center;
    color: gray;">
    Por favor, antes de iniciar selecciona tu país de origen:</h4>
    
   <ion-list radio-group>
    <ion-list-header>
      País
    </ion-list-header>

    <ion-item >
      <ion-label>EEUU</ion-label>
      <ion-radio checked="false" disabled="true" value="go"></ion-radio>
    </ion-item>

    <ion-item (tap)="gotoIntro()">
      <ion-label>Bolivia</ion-label>
      <ion-radio checked="true"  value="f"></ion-radio>
    </ion-item>

  </ion-list>
    
    
  </div>
</ion-content>
