page-xpais {
.center_screen {
        margin: auto;
        width: 100%;
        .logo {
          width: map_get($width, logo);
          display: table;
          margin:0 auto map_get($margin, big);
        }


      }
}
